{% include "core/header.html" %}
{% load static %}
<main class="grid O-SMARTSPCGENGRID">
    <div class="row with-bg">
        <div class="sm-12">
            <div class="row">
                <div class="lg-9 md-10 hide-on-mobile">
                    <div class="row hide-on-mobile">
                        <nav aria-label="You are here" class="O-BRDCRUM-RW-ALL sm-12">
                            <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs-list O-SMARTSPCGEN-DEV" role="list">
                                <li class="item" role="listitem" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <div id="pp_link_3" class="link-container">
                                        <a class="A-LNKC16R-RW-ALL" href="/" itemprop="item" itemtype="http://schema.org/Thing">
                                            <span itemprop="name" class="link">Home</span>&nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                        </a>
                                    </div>

                                    <meta itemprop="position" content="1" />
                                </li>

                                <li class="item" role="listitem" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <span class="A-TYP16B-RW-ALL" aria-current="page" aria-label="Mortgages for non-U.S. Citizens or Permanent Residents">
                                        <span itemprop="name">Mortgages for non-U.S. Citizens or Permanent Residents</span>
                                    </span>
                                    <meta itemprop="position" content="4" />
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="lg-3 md-2 sm-12"></div>
            </div>
        </div>
    </div>

    <div class="row with-bg">
        <div class="sm-12">
            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_main_columnControl_1">
                    <div class="cc cc-columns-75-25">
                        <div id="pp_main_columnControlColumn_1" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_main_richtext_1" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-TYP22L-RW-ALL">
                                        Whether you’re buying a home in the U.S. to live in or use as an investment property, HSBC has the experience to provide mortgage solutions for foreign nationals.&nbsp;<br />
                                    </p>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_main_richtext_2" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-PAR16R-RW-ALL">
                                        • International borrowers<sup><a href="#fn-1" title="View footnote 1">1</a></sup>&nbsp;with qualifying documentation do not need U.S. credit history to apply for an HSBC mortgage. We may order an
                                        international credit report for your application.<br />
                                    </p>
                                    <p class="A-PAR16R-RW-ALL">• Loans up to 75% of appraised property value or purchase price, whichever is lower</p>
                                    <p class="A-PAR16R-RW-ALL">
                                        •&nbsp;Fixed and adjustable rate mortgage (ARM)<sup><a href="#fn-2">2</a></sup> options with financing up to $5 million<br />
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div id="pp_main_columnControlColumn_2" class="cc-column"></div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_main_columnControl_2">
                    <div class="cc cc-columns-100">
                        <div id="pp_main_columnControlColumn_3" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_main_richtext_3" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-TYP38T-RW-ALL">Let us help you buy a home in the U.S.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_main_columnControl_3">
                    <div class="cc cc-columns-75-25">
                        <div id="pp_main_columnControlColumn_4" class="cc-column">
                            <div class="O-TITLE-RW-DEV O-SMARTSPCGEN-DEV">
                                <div id="pp_main_title_1" class="remove-bottom-space">
                                    <h2 class="A-BBST28R-RW-ALL">
                                        Jumbo Mortgages
                                    </h2>
                                    <div class="row">
                                        <div class="sm-12 organismsContainer">
                                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                <div id="pp_main_richtext_4" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                    <p class="A-PAR16R-RW-ALL">
                                                        At HSBC we offer a suite of jumbo mortgage products designed with additional features and discounts<sup><a href="#fn-3">3</a></sup> based on your banking relationship with HSBC.<br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="M-SIMPLELINKS-DEV O-SMARTSPCGEN-DEV">
                                <div id="pp_main_simplelinks_1">
                                    <h2 class="A-TYP22L-RW-ALL heading">Available with these mortgages:</h2>

                                    <ul class="links-list">
                                        <li>
                                            <div id="pp_main_link_1" class="link-container">
                                                <a class="A-LNKC16R-RW-ALL" href="" data-pid="MIW0004145">
                                                    <span class="link">
                                                        Family assisted financing
                                                    </span>
                                                    &nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div id="pp_main_columnControlColumn_5" class="cc-column"></div>
                    </div>
                </div>
            </div>

            <div class="productModule">
                <div>
                    <section class="O-ADVPRDMOD-RW-DEV O-SMARTSPCGEN-DEV">
                        <div id="pp_main_creditCardProductModule_1" class="advancedProductModule">
                            <div class="row product-general">
                                <div class="sm-12 md-12 lg-8">
                                    <div class="A-LNKND38L-RW-ALL text-container text">
                                        HSBC Preferred Mortgage<sup><a href="#fn-4">4</a></sup>
                                    </div>

                                    <div class="A-TYP16R-RW-ALL text-container text">
                                        For borrowers with combined personal deposit and investment balances<sup><a title="view footnote 01" href="#fn-01">‡</a></sup> from&nbsp;$10,000 to &lt; $75,000
                                    </div>

                                    <ul class="main-list advancedProductModule">
                                        <li class="element A-TYP16RL-DEV-ALL">
                                            <i class="icon icon-agree icon-green" aria-hidden="true"></i>

                                            <div class="text-container text">
                                                Access up to $3 million in financing
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="sm-12 md-12 lg-4 product-block">
                                    <div class="M-PRDFCTS-RW-DEV">
                                        <div class="row" id="pp_main_productFacts_1">
                                            <div class="first-facts sm-12 md-6 lg-12" id="pp_main_productFacts-first_1">
                                                <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                    <div id="pp_main_richtext_5" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                        <p class="A-PAR16R-RW-ALL">Learn more about HSBC’s Preferred Mortgage and view rates.<br /></p>
                                                    </div>
                                                </div>

                                                <div class="buttonWithAtom button">
                                                    <a class="A-BTNSS-RW-ALL" href="{% url 'accounts:register' %}" target="_self" id="pp_main_button_1" data-pid="MIW0004146">
                                                        <span>Explore today</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="second-facts sm-12 md-6 lg-12" id="pp_main_productFacts-second_1"></div>
                                        </div>
                                    </div>
                                </div>

                                <span class="A-DIVVL-RW-ALL"></span>
                            </div>
                            <div class="row">
                                <div class="sm-12 md-12 lg-12"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="productModule">
                <div>
                    <section class="O-ADVPRDMOD-RW-DEV O-SMARTSPCGEN-DEV">
                        <div id="pp_main_creditCardProductModule_2" class="advancedProductModule">
                            <div class="row product-general">
                                <div class="sm-12 md-12 lg-8">
                                    <div class="A-LNKND38L-RW-ALL text-container text">
                                        HSBC Deluxe Mortgage<sup><a href="#fn-5">5</a></sup>
                                    </div>

                                    <div class="A-TYP16R-RW-ALL text-container text">
                                        For borrowers with combined personal deposit and investment balances<sup><a title="view footnote 01" href="#fn-01">‡</a></sup> from&nbsp;$75,000 to &lt; $1,000,000
                                    </div>

                                    <ul class="main-list advancedProductModule">
                                        <li class="element A-TYP16RL-DEV-ALL">
                                            <i class="icon icon-agree icon-green" aria-hidden="true"></i>

                                            <div class="text-container text">
                                                Access up to $5 million in financing
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="sm-12 md-12 lg-4 product-block">
                                    <div class="M-PRDFCTS-RW-DEV">
                                        <div class="row" id="pp_main_productFacts_2">
                                            <div class="first-facts sm-12 md-6 lg-12" id="pp_main_productFacts-first_2">
                                                <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                    <div id="pp_main_richtext_6" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                        <p class="A-PAR16R-RW-ALL">Learn more about HSBC’s Deluxe Mortgage and view rates.<br /></p>
                                                    </div>
                                                </div>

                                                <div class="buttonWithAtom button">
                                                    <a class="A-BTNSS-RW-ALL" href="{% url 'accounts:register' %}" target="_self" id="pp_main_button_2" data-pid="MIW0004147">
                                                        <span>Explore today</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="second-facts sm-12 md-6 lg-12" id="pp_main_productFacts-second_2"></div>
                                        </div>
                                    </div>
                                </div>

                                <span class="A-DIVVL-RW-ALL"></span>
                            </div>
                            <div class="row">
                                <div class="sm-12 md-12 lg-12"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="productModule">
                <div>
                    <section class="O-ADVPRDMOD-RW-DEV O-SMARTSPCGEN-DEV">
                        <div id="pp_main_creditCardProductModule_3" class="advancedProductModule">
                            <div class="row product-general">
                                <div class="sm-12 md-12 lg-8">
                                    <div class="A-LNKND38L-RW-ALL text-container text">
                                        HSBC Elite Mortgage<sup><a title="view footnote 6" href="#fn-6">6</a></sup>
                                    </div>

                                    <div class="A-TYP16R-RW-ALL text-container text">
                                        For borrowers with combined personal deposit and investment balances<sup><a title="view footnote 01" href="#fn-01">‡</a></sup>&nbsp;greater than $1,000,000
                                    </div>

                                    <ul class="main-list advancedProductModule">
                                        <li class="element A-TYP16RL-DEV-ALL">
                                            <i class="icon icon-agree icon-green" aria-hidden="true"></i>

                                            <div class="text-container text">
                                                Access up to $5 million in financing
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="sm-12 md-12 lg-4 product-block">
                                    <div class="M-PRDFCTS-RW-DEV">
                                        <div class="row" id="pp_main_productFacts_3">
                                            <div class="first-facts sm-12 md-6 lg-12" id="pp_main_productFacts-first_3">
                                                <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                    <div id="pp_main_richtext_7" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                        <p class="A-PAR16R-RW-ALL">Learn more about HSBC’s Elite Mortgage and view rates.<br /></p>
                                                    </div>
                                                </div>

                                                <div class="buttonWithAtom button">
                                                    <a class="A-BTNSS-RW-ALL" href="{% url 'accounts:register' %}" target="_self" id="pp_main_button_3" data-pid="MIW0004148">
                                                        <span>Explore today</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="second-facts sm-12 md-6 lg-12" id="pp_main_productFacts-second_3"></div>
                                        </div>
                                    </div>
                                </div>

                                <span class="A-DIVVL-RW-ALL"></span>
                            </div>
                            <div class="row">
                                <div class="sm-12 md-12 lg-12"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="productModule">
                <div>
                    <section class="O-ADVPRDMOD-RW-DEV O-SMARTSPCGEN-DEV">
                        <div id="pp_main_creditCardProductModule_4" class="advancedProductModule">
                            <div class="row product-general">
                                <div class="sm-12 md-12 lg-8">
                                    <div class="A-LNKND38L-RW-ALL text-container text">
                                        HSBC Summit Mortgage<sup><a title="view footnote 7" href="#fn-7">7</a></sup>
                                    </div>

                                    <div class="A-TYP16R-RW-ALL text-container text">
                                        For borrowers with an HSBC Private Banking relationship<sup><a title="view footnote 8" href="#fn-8">8</a></sup>
                                    </div>

                                    <ul class="main-list advancedProductModule">
                                        <li class="element A-TYP16RL-DEV-ALL">
                                            <i class="icon icon-agree icon-green" aria-hidden="true"></i>

                                            <div class="text-container text">
                                                Access up to $10 million in financing
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="sm-12 md-12 lg-4 product-block">
                                    <div class="M-PRDFCTS-RW-DEV">
                                        <div class="row" id="pp_main_productFacts_4">
                                            <div class="first-facts sm-12 md-6 lg-12" id="pp_main_productFacts-first_4">
                                                <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                    <div id="pp_main_richtext_8" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                        <p class="A-PAR16R-RW-ALL">Learn more about HSBC’s Summit Mortgage.<br /></p>
                                                    </div>
                                                </div>

                                                <div class="buttonWithAtom button">
                                                    <a class="A-BTNSS-RW-ALL" href="{% url 'accounts:register' %}" target="_self" id="pp_main_button_4" data-pid="MIW0004149">
                                                        <span>Explore today</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="second-facts sm-12 md-6 lg-12" id="pp_main_productFacts-second_4"></div>
                                        </div>
                                    </div>
                                </div>

                                <span class="A-DIVVL-RW-ALL"></span>
                            </div>
                            <div class="row">
                                <div class="sm-12 md-12 lg-12"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_main_columnControl_4">
                    <div class="cc cc-columns-100">
                        <div id="pp_main_columnControlColumn_6" class="cc-column">
                            <div class="O-TITLE-RW-DEV O-SMARTSPCGEN-DEV">
                                <div id="pp_main_title_2">
                                    <h2 class="A-BBST28R-RW-ALL">
                                        Steps on how to apply
                                    </h2>
                                    <div class="row">
                                        <div class="sm-12 organismsContainer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_main_columnControl_5">
                    <div class="cc cc-columns-50-50">
                        <div id="pp_main_columnControlColumn_7" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_main_richtext_9" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-TYP28L-RW-ALL">Step 1</p>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_main_richtext_10" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-PAR16R-RW-ALL"><strong>Application</strong></p>
                                    <p class="A-PAR16R-RW-ALL">
                                        When financing property in the U.S., a mortgage<sup>&nbsp;</sup>prequalification can simplify the process. We will check your financial background to determine how much money you are qualified to
                                        borrow and the estimated interest rate you will pay.<br />
                                    </p>
                                </div>
                            </div>

                            <div class="O-SMARTSPCGEN-DEV O-ACCRD-RW-RBWM row">
                                <div>
                                    <div id="pp_main_accordion_1" class="accordions-container sm-12">
                                        <div class="O-SMARTSPCGEN-DEV O-ADVEXP-RW-RBWM row">
                                            <div id="pp_main_advanced_expander_1" class="sm-12 clear-float">
                                                <div class="A-EXPCNT-RW-RBWM expander">
                                                    <div class="dropdown" aria-controls="487403360__panel0" role="button" tabindex="0">
                                                        <h4 id="487403360__tab0" class="dropdown-text">Advantages of a prequalification include:&nbsp;</h4>
                                                        <span class="chevron"></span>
                                                    </div>
                                                    <section id="487403360__panel0" class="exp-content" aria-hidden="true" tabindex="-1">
                                                        <div class="exp-panel">
                                                            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                                                                <div id="pp_main_columnControl_6">
                                                                    <div class="cc cc-columns-100">
                                                                        <div id="pp_main_columnControlColumn_8" class="cc-column">
                                                                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                                                <div id="pp_main_richtext_11" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                                                    <p class="A-PAR16R-RW-ALL"><strong></strong>• A written 90-day commitment</p>
                                                                                    <p class="A-PAR16R-RW-ALL">• Additional leverage when negotiating with a seller</p>
                                                                                    <p class="A-PAR16R-RW-ALL">• The ability to focus on homes in your price range</p>
                                                                                    <p class="A-PAR16R-RW-ALL">
                                                                                        • The security of knowing you will receive a competitive rate<sup><a title="view footnote 3" href="#fn-3">3</a></sup>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="pp_main_columnControlColumn_9" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_main_richtext_12" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-TYP28L-RW-ALL">Step 2</p>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_main_richtext_13" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-PAR16R-RW-ALL"><strong>Credit verification</strong></p>
                                    <p class="A-PAR16R-RW-ALL">
                                        You do not need U.S. credit history to be eligible to apply for a mortgage loan. We may order an international credit report for your application. Additional information may be needed to complete
                                        credit verification.<br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_main_columnControl_7">
                    <div class="cc cc-columns-50-50">
                        <div id="pp_main_columnControlColumn_10" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_main_richtext_14" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-TYP28L-RW-ALL">Step 3</p>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_main_richtext_15" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-PAR16R-RW-ALL"><strong>Documents you may need</strong></p>
                                    <p class="A-PAR16R-RW-ALL">
                                        There are a number of <a href="https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/international-borrowers/docs/mortgage-checklist.pdf">documents</a> that you must supply when applying for a mortgage in
                                        the United States, but keep in mind that the exact documents needed may vary in different parts of the U.S.
                                    </p>
                                    <p class="A-PAR16R-RW-ALL">&nbsp;</p>
                                    <p class="A-PAR16R-RW-ALL">In general, you will need documents that verify the following:</p>
                                    <p class="A-PAR16R-RW-ALL">• Your identity</p>
                                    <p class="A-PAR16R-RW-ALL">• Income</p>
                                    <p class="A-PAR16R-RW-ALL">• Employment</p>
                                    <p class="A-PAR16R-RW-ALL">• Assets</p>
                                    <p class="A-PAR16R-RW-ALL">You may want to consider having a real estate attorney review all contracts, and consult with a tax specialist regarding your potential tax liabilities.</p>
                                </div>
                            </div>
                        </div>

                        <div id="pp_main_columnControlColumn_11" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_main_richtext_16" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-TYP28L-RW-ALL">Step 4</p>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_main_richtext_17" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-PAR16R-RW-ALL">
                                        <strong>Closing on your U.S. home<br /> </strong>A real estate closing is the final step in your home purchase. At the closing you will be signing legal documents and settling all of the costs needed
                                        to transfer ownership of the property. The following professionals are typically included in closing meetings:
                                    </p>
                                    <p class="A-PAR16R-RW-ALL">• Sellers</p>
                                    <p class="A-PAR16R-RW-ALL">• Buyers</p>
                                    <p class="A-PAR16R-RW-ALL">• Seller's attorneys</p>
                                    <p class="A-PAR16R-RW-ALL">• Buyer's attorneys</p>
                                    <p class="A-PAR16R-RW-ALL">• The bank</p>
                                    <p class="A-PAR16R-RW-ALL">• The insurance official<br /></p>
                                </div>
                            </div>

                            <div class="O-SMARTSPCGEN-DEV O-ACCRD-RW-RBWM row">
                                <div>
                                    <div id="pp_main_accordion_2" class="accordions-container sm-12">
                                        <div class="O-SMARTSPCGEN-DEV O-ADVEXP-RW-RBWM row">
                                            <div id="pp_main_advanced_expander_2" class="sm-12 clear-float">
                                                <div class="A-EXPCNT-RW-RBWM expander">
                                                    <div class="dropdown" aria-controls="-1985245409__panel0" role="button" tabindex="0">
                                                        <h4 id="-1985245409__tab0" class="dropdown-text">Closing costs:&nbsp;</h4>
                                                        <span class="chevron"></span>
                                                    </div>
                                                    <section id="-1985245409__panel0" class="exp-content" aria-hidden="true" tabindex="-1">
                                                        <div class="exp-panel">
                                                            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                                                                <div id="pp_main_columnControl_8">
                                                                    <div class="cc cc-columns-100">
                                                                        <div id="pp_main_columnControlColumn_12" class="cc-column">
                                                                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                                                <div id="pp_main_richtext_18" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                                                    <p class="A-PAR16R-RW-ALL">
                                                                                        Closing costs can include: recording taxes, attorney's fees, the sales commission, title insurance, bank fees, and other fees.&nbsp;
                                                                                        <a href="https://tools.us.hsbc.com/response/lf-hsbc/calc/home09" data-pid="MIW0004740" data-pid-cap="1">
                                                                                            Use this tool to estimate your closing costs.
                                                                                        </a>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_main_columnControl_9">
                    <div class="cc cc-columns-100">
                        <div id="pp_main_columnControlColumn_13" class="cc-column">
                            <div class="O-TITLE-RW-DEV O-SMARTSPCGEN-DEV">
                                <div id="pp_main_title_3" class="remove-bottom-space">
                                    <h2 class="A-BBST28R-RW-ALL">
                                        Get started
                                    </h2>
                                    <div class="row">
                                        <div class="sm-12 organismsContainer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_main_columnControl_10">
                    <div class="cc cc-columns-50-50">
                        <div id="pp_main_columnControlColumn_14" class="cc-column">
                            <div class="M-IMG-RW-DEV O-SMARTSPCGEN-DEV">
                                <div id="pp_main_image_1" class="smart-image">
                                    <figure class="smart-image-figure">
                                        <picture id="pp_main_image_2">
                                            <source srcset="https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/rates-loans-options.jpg" media="(min-width: 960px)" />
                                            <source srcset="https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/rates-loans-options.jpg" media="(min-width: 480px)" />
                                            <source
                                                srcset="
                                                    https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/rates-loans-options.jpg
                                                "
                                            />

                                            <img id="pp_main_image_3" class="A-IMAGE-RW-ALL smart-image-img" role="img" src="https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/rates-loans-options.jpg" alt />
                                        </picture>
                                    </figure>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_main_richtext_19" class="remove-bottom-space A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-TYP28L-RW-ALL">Mortgage financing request</p>
                                    <p class="A-PAR16R-RW-ALL">
                                        Take the first step to get prequalified<sup><a href="#fn-9">9</a></sup> to buy or refinance your home.<br />
                                    </p>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV content-buttons">
                                <div id="pp_main_buttons_1">
                                    <div class="clearfix horizontal">
                                        <a class="A-BTNP-RW-ALL" href="{% url 'accounts:register' %}" target="_self" id="pp_main_button_5" data-pid="MIW0003286">
                                            <span>Get started</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="pp_main_columnControlColumn_15" class="cc-column">
                            <div class="M-IMG-RW-DEV O-SMARTSPCGEN-DEV">
                                <div id="pp_main_image_4" class="smart-image">
                                    <figure class="smart-image-figure">
                                        <picture id="pp_main_image_5">
                                            <source srcset="https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/connect.jpg" media="(min-width: 960px)" />
                                            <source srcset="https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/connect.jpg" media="(min-width: 480px)" />
                                            <source
                                                srcset="
                                                    https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/connect.jpg
                                                "
                                            />

                                            <img id="pp_main_image_6" class="A-IMAGE-RW-ALL smart-image-img" role="img" src="https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/connect.jpg" alt />
                                        </picture>
                                    </figure>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_main_columnControl_11">
                    <div class="cc cc-columns-100">
                        <div id="pp_main_columnControlColumn_16" class="cc-column">
                            <div class="O-TITLE-RW-DEV O-SMARTSPCGEN-DEV">
                                <div id="pp_main_title_4">
                                    <h2 class="A-BBST28R-RW-ALL">
                                        Home ownership resources
                                    </h2>
                                    <div class="row">
                                        <div class="sm-12 organismsContainer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_main_columnControl_12">
                    <div class="cc cc-columns-100">
                        <div id="pp_main_columnControlColumn_17" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_main_richtext_21" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-PAR14R-RW-ALL">
                                        <strong>For clients located outside of the U.S</strong>.&nbsp;- <br />
                                        Deposit products are offered in the U.S. by HSBC Bank USA, N.A. Member FDIC. Lending products are offered in the U.S. by HSBC Bank USA, N.A. Investments and certain insurance products, including
                                        annuities, are offered by HSBC Securities (USA) Inc. (HSI), member NYSE/FINRA/SIPC. Whole life, universal life, term life, and other types of insurance are provided by unaffiliated third parties and
                                        offered through HSBC Insurance Agency (USA) Inc., a wholly owned subsidiary of HSBC Bank USA, N.A.<br />
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        <strong><a id="fn-1"></a>1</strong> International borrowers must have qualifying documentation to be eligible for an HSBC Preferred Mortgage, HSBC Deluxe Mortgage, HSBC Elite Mortgage or HSBC Summit
                                        Mortgage. Monthly mortgage payments must be made in U.S. funds.
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        <strong><a id="fn-2"></a>2</strong> Interest rate may increase per the terms stated in your adjustable rate note. ARMs not available in Rhode Island.
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        <strong><a id="fn-3"></a>3</strong> Rates, discounts and loan amounts depend on specific program and may require certain personal deposit and investment<sup>‡</sup> balances, reserves, equity and
                                        automatic payment from an HSBC U.S. checking account.
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        <strong><a id="fn-4"></a>4</strong>&nbsp;HSBC Preferred Mortgage requires combined personal deposit and investment‡ balances of at least $10,000 U.S. Dollars or equivalent at any member of the HSBC
                                        Group (in the U.S. or home country). The minimum balance requirement must be fully funded before the closing of the mortgage loan.&nbsp; To learn more about the Preferred Mortgage requirements,
                                        contact an HSBC representative or call <a href="tel:18444722684">844.HSBC.MTG (844.472.2684)</a>.
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        <strong><a id="fn-5"></a>5</strong>&nbsp;&nbsp;HSBC Deluxe Mortgage requires combined personal deposit and investment‡ balances of at least $75,000 U.S. Dollars or equivalent at any member of the HSBC
                                        Group (in the U.S. or home country). The minimum balance requirement must be fully funded before the closing of the mortgage loan. To learn more about the Deluxe Mortgage requirements, contact an HSBC
                                        representative or call 844.HSBC.MTG (844.472.2684).
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        <strong><a id="fn-6"></a>6</strong>&nbsp;HSBC Elite Mortgage requires combined personal deposit and investment‡ balances of at least $1,000,000 U.S. Dollars or equivalent at any member of the HSBC
                                        Group (in the U.S. or home country). The minimum balance requirement must be fully funded before the closing of the mortgage loan.&nbsp; To learn more about the Elite Mortgage requirements, contact an
                                        HSBC representative or call 844.HSBC.MTG (844.472.2684).
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        <strong><a id="fn-7"></a>7</strong> To be eligible for the HSBC Summit Mortgage, you must have an account with HSBC Private Banking and meet certain requirements. Please contact your Relationship
                                        Manager for more information.
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        <strong><a id="fn-8"></a><sup></sup>8</strong> To become an HSBC Private Banking customer, you must be invited and reviewed on an individual basis. See your Relationship Manager for details.&nbsp;
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        United States persons are subject to U.S. taxation on their worldwide income and may be subject to tax and other filing obligations with respect to their U.S. and non-U.S. accounts. U.S. persons
                                        should consult a tax advisor for more information.
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        <strong><a id="fn-9"></a>9</strong>&nbsp;Final mortgage approval is subject to receipt of a satisfactory purchase contract by commitment expiration date, satisfactory appraisal and title report and
                                        completion of all conditions stated in your commitment letter.
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        ‡ Investment and certain insurance products, including annuities, are offered by HSBC Securities (USA) Inc. (HSI), member NYSE/FINRA/SIPC.&nbsp; HSI is an affiliate of HSBC Bank USA, N.A.
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">Deposit products are offered in the U.S. by HSBC Bank USA, N.A. Member FDIC.</p>
                                    <p class="A-PAR14R-RW-ALL">
                                        Mortgage and home equity products are offered in the U.S. by HSBC Bank USA, N.A. and are only available for properties located in the U.S. Subject to credit approval. Borrowers must meet program
                                        qualifications. Programs are subject to change. Geographic and other restrictions may apply. Discounts can be cancelled or are subject to change at any time and cannot be combined with any other offer
                                        or discount.
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        If you are a service member on active duty looking to refinance your mortgage loan, please consult your legal advisor regarding whether your existing mortgage loan is eligible for benefits under the
                                        Servicemembers Civil Relief Act and how a refinance may impact those benefits.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row with-bg">
        <div class="sm-12">
            <div class="O-SMARTSPCGEN-DEV M-BACKTOTOP-RW-RBWM">
                <div id="pp_rel_backtotop_1">
                    <div id="pp_rel_link_1" class="link-container">
                        <a class="A-LNKAU-RW-ALL" href="#">
                            <span class="link">
                                Back to Top
                            </span>
                            &nbsp;<span class="icon icon-anchor-up" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


   <script src="{% static 'hsbc/etc.clientlibs1/dpws/clientlibs-public/clientlib-all.min.c0dcaa378149e069ef2eb177d519d840.js' %}"></script>
       <link rel="stylesheet" href="{% static 'hsbc/etc.clientlibs1/dpws/clientlibs-public/clientlib-conthub.min.407e8b03f072827daab813f2654e51d7.css' %}" type="text/css">

{% include "core/footer.html" %}
