{% include "core/header.html" %}
{% load static %}
<main class="grid O-SMARTSPCGENGRID">
    <div class="row with-bg">
        <div class="sm-12">
            <div class="row">
                <div class="lg-9 md-10 hide-on-mobile">
                    <div class="row hide-on-mobile">
                        <nav aria-label="You are here" class="O-BRDCRUM-RW-ALL sm-12">
                            <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs-list O-SMARTSPCGEN-DEV" role="list">
                                <li class="item" role="listitem" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <div id="pp_link_3" class="link-container">
                                        <a class="A-LNKC16R-RW-ALL" href="/" itemprop="item" itemtype="http://schema.org/Thing">
                                            <span itemprop="name" class="link">Home</span>&nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                        </a>
                                    </div>

                                    <meta itemprop="position" content="1" />
                                </li>



                                <li class="item" role="listitem" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <span class="A-TYP16B-RW-ALL" aria-current="page" aria-label="Premier Relationship Savings">
                                        <span itemprop="name">Premier Relationship Savings</span>
                                    </span>
                                    <meta itemprop="position" content="4" />
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="lg-3 md-2 sm-12"></div>
            </div>
        </div>
    </div>

    <div class="row with-bg">
        <div class="sm-12">
            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_tools_columnControl_1">
                    <div class="cc cc-columns-75-25 cc-dividers">
                        <div id="pp_tools_columnControlColumn_1" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV">
                                <h2 class="heading A-TYP28L-RW-ALL remove-bottom-space" id="pp_tools_heading_1">
                                    Earn our best savings rate for an Introductory Period
                                </h2>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_tools_richtext_1" class="remove-bottom-space A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-PAR16R-RW-ALL">
                                        When you open a Premier Relationship Savings[@QualPremRelSavAcc] account and link it to an open Premier[@premiereligibility] checking account, you'll automatically get the Relationship APY for the
                                        rest of the month and the following 3 months.
                                    </p>
                                    <p class="A-PAR16R-RW-ALL">
                                        To keep earning the Relationship APY after the Introductory Period ends, simply meet at least 1 of the qualification criteria below every month[@relapypremrelsave], starting from the last month of the
                                        Introductory Period. If you qualify during the month, you’ll get the Relationship APY the following month. If not, you'll receive the Standard APY the following month.
                                    </p>
                                </div>
                            </div>

                            <div class="O-ADVLST-RW-DEV O-SMARTSPCGEN-DEV clearfix">
                                <div id="pp_tools_advancedList_1">
                                    <ul class="list advanced-list">
                                        <li class="element M-SMARTSPCGENELEMENT-DEV">
                                            <div class="list-item" id="pp_tools_advancedListElement_1">
                                                <span class="icon-container">
                                                    <i class="icon icon-agree" aria-hidden="true"></i>
                                                </span>

                                                <div class="A-TYP16RL-DEV-ALL text-container text">
                                                    Spend a total of $500 or more in purchases or payments using your HSBC debit cards.
                                                </div>
                                            </div>
                                        </li>

                                        <li class="element M-SMARTSPCGENELEMENT-DEV">
                                            <div class="list-item" id="pp_tools_advancedListElement_2">
                                                <span class="icon-container">
                                                    <i class="icon icon-agree" aria-hidden="true"></i>
                                                </span>

                                                <div class="A-TYP16RL-DEV-ALL text-container text">
                                                    Pay a total of $500 or more from your linked HSBC Premier checking account to your HSBC credit cards.
                                                </div>
                                            </div>
                                        </li>

                                        <li class="element M-SMARTSPCGENELEMENT-DEV">
                                            <div class="list-item" id="pp_tools_advancedListElement_3">
                                                <span class="icon-container">
                                                    <i class="icon icon-agree" aria-hidden="true"></i>
                                                </span>

                                                <div class="A-TYP16RL-DEV-ALL text-container text">
                                                    Receive a total of $5,000 or more in qualifying direct deposits from a third party to your linked HSBC Premier checking account.
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="disclaimer"></div>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_tools_richtext_2" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-PAR16R-RW-ALL"><strong>You can also qualify by holding a U.S. mortgage serviced by HSBC or maintain HSBC Premier Elite status.</strong></p>
                                </div>
                            </div>
                        </div>

                        <span class="cc-separator"></span>
                        <div id="pp_tools_columnControlColumn_2" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV">
                                <h2 class="heading A-TYP28L-RW-ALL remove-bottom-space" id="pp_tools_heading_2">
                                    Annual Percentage Yields (APYs)[@apyvariableps]
                                </h2>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_tools_richtext_3" class="remove-bottom-space A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-PAR16R-RW-ALL">
                                        Standard APY (minimum balance: $1)<br />
                                        <span class="A-TYP28L-RW-ALL">0.05% APY</span>
                                    </p>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_tools_richtext_4" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-PAR16R-RW-ALL">
                                        Relationship APY (minimum balance: $1)<br />
                                        <span class="A-TYP28L-RW-ALL">3.70% APY</span>
                                    </p>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV content-buttons">
                                <div id="pp_tools_buttons_1">
                                    <div class="clearfix horizontal">
                                        <a class="A-BTNP-RW-ALL" href="{% url 'accounts:register' %}" target="_self" id="pp_tools_button_1" data-event-component="button" data-event-name="check eligibility and apply|component:intro|position:1|colour:red">
                                            <span>Check eligibility and apply</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_tools_columnControl_2">
                    <div class="cc cc-columns-66-33">
                        <div id="pp_tools_columnControlColumn_3" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV">
                                <div class="anchor" id="things-to-know"></div>

                                <h2 class="heading A-TYP28L-RW-ALL remove-bottom-space" id="pp_tools_heading_3">
                                    Things to know
                                </h2>
                            </div>
                        </div>

                        <div id="pp_tools_columnControlColumn_4" class="cc-column"></div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_tools_columnControl_3">
                    <div class="cc cc-columns-66-33">
                        <div id="pp_tools_columnControlColumn_5" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV">
                                <div class="anchor" id="heres-what-you-get-with-an-hsbc-premier-relationship-savings-account"></div>

                                <h3 class="heading A-TYP22L-RW-ALL remove-bottom-space" id="pp_tools_heading_4">
                                    Here's what you get with an HSBC Premier Relationship Savings account:
                                </h3>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_tools_richtext_5" class="remove-bottom-space A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <ul class="A-LSTU-RW-ALL">
                                        <li><strong>Earn: </strong>always earn our best savings rate as long as you continue to meet at least one of the qualification criteria each month.<br /></li>
                                        <li><strong>Save safely: </strong>your money is FDIC insured to the maximum permitted by law.<br /></li>
                                        <li><strong>Move money:</strong> easily transfer money domestically and internationally with our mobile and online banking.</li>
                                        <li><strong>Build your relationship:</strong> your savings balance counts toward your monthly minimum HSBC Premier balance requirement.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV">
                                <div class="anchor" id="what-youll-need-to-apply"></div>

                                <h3 class="heading A-TYP22L-RW-ALL remove-bottom-space" id="pp_tools_heading_5">
                                    What you'll need to apply
                                </h3>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="pp_tools_richtext_6" class="remove-bottom-space A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-PAR16R-RW-ALL"></p>
                                    <p>To open a Premier Relationship Savings account you must be an HSBC Premier client with a new or existing HSBC Premier[@premiereligibility] checking account and:</p>
                                    <div class="commonMark-list">
                                        <ul role="list">
                                            <li>Be at least 18 years of age</li>
                                            <li>Provide account information for funding your new account if you want to fund from outside HSBC</li>
                                        </ul>
                                    </div>
                                    <p class="A-PAR16R-RW-ALL">If you apply for a Premier Relationship Savings account but don't already have a Premier checking account, we'll redirect you towards a page where you can apply for one.</p>
                                    <p class="A-PAR16R-RW-ALL">By proceeding with the application you are accepting the terms and agree you can meet these requirements.</p>
                                </div>
                            </div>

                            <div class="O-SMARTSPCGEN-DEV O-ACCRD-RW-RBWM row">
                                <div>
                                    <div id="pp_tools_accordion_1" class="accordions-container sm-12">
                                        <div class="O-SMARTSPCGEN-DEV O-ADVEXP-RW-RBWM row">
                                            <div id="pp_tools_advanced_expander_1" class="sm-12 clear-float">
                                                <div class="A-EXPCNT-RW-RBWM expander">
                                                    <div class="dropdown" aria-controls="74880136__panel0" role="button" tabindex="0">
                                                        <h4 id="74880136__tab0" class="dropdown-text">What happens next?&nbsp;</h4>
                                                        <span class="chevron"></span>
                                                    </div>
                                                    <section id="74880136__panel0" class="exp-content" aria-hidden="true" tabindex="-1">
                                                        <div class="exp-panel">
                                                            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                                                                <div id="pp_tools_columnControl_4">
                                                                    <div class="cc cc-columns-100">
                                                                        <div id="pp_tools_columnControlColumn_6" class="cc-column">
                                                                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                                                <div id="pp_tools_richtext_7" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                                                    <p class="A-PAR16R-RW-ALL">
                                                                                        Once you have submitted your online application, we will notify you if it can be approved online or if other information is needed to complete the
                                                                                        application.
                                                                                    </p>
                                                                                    <p class="A-PAR16R-RW-ALL">
                                                                                        All accounts will receive the Annual Percentage Yield (APY) and interest rate in effect when the account is opened and funded. See&nbsp;
                                                                                        <a href="https://www.us.hsbc.com/content/dam/hsbc/us/docs/pdf/deposit-terms-and-charges/hsbc-premier-relationship-savings-tc.pdf" target="_blank" rel="noopener">
                                                                                            Premier Relationship Savings Terms &amp; Charges Disclosures
                                                                                        </a>
                                                                                        for more information.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="O-SMARTSPCGEN-DEV O-ADVEXP-RW-RBWM row">
                                            <div id="pp_tools_advanced_expander_2" class="sm-12 clear-float">
                                                <div class="A-EXPCNT-RW-RBWM expander">
                                                    <div class="dropdown" aria-controls="1766654796__panel0" role="button" tabindex="0">
                                                        <h4 id="1766654796__tab0" class="dropdown-text">Important documents&nbsp;</h4>
                                                        <span class="chevron"></span>
                                                    </div>
                                                    <section id="1766654796__panel0" class="exp-content" aria-hidden="true" tabindex="-1">
                                                        <div class="exp-panel">
                                                            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                                                                <div id="pp_tools_columnControl_5">
                                                                    <div class="cc cc-columns-100">
                                                                        <div id="pp_tools_columnControlColumn_7" class="cc-column">
                                                                            <div class="O-SMARTSPCGEN-DEV M-CONTMAST-RW-RBWM links">
                                                                                <div>
                                                                                    <ul id="pp_tools_links_1" class="links-list">
                                                                                        <li>
                                                                                            <div id="pp_tools_link_1" class="link-container">
                                                                                                <a class="A-LNKD-RW-ALL" href="https://www.us.hsbc.com/content/dam/hsbc/us/docs/pdf/deposit-terms-and-charges/hsbc-premier-relationship-savings-tc.pdf" download>
                                                                                                    <span class="icon icon-download icon-right-space" aria-hidden="true"></span>
                                                                                                    <span aria-hidden="true" class="link">HSBC Premier Relationship Savings Terms and Charges Disclosure (PDF, 540.9kB)</span>
                                                                                                    <span class="visuallyhidden">HSBC Premier Relationship Savings Terms and Charges Disclosure (PDF, 540.9kB) Download link</span>
                                                                                                </a>
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="pp_tools_columnControlColumn_8" class="cc-column"></div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div class="anchor" id="startapplication"></div>

                <div id="pp_tools_columnControl_6">
                    <div class="cc cc-columns-66-33">
                        <div id="pp_tools_columnControlColumn_9" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV">
                                <div class="anchor" id="apply"></div>

                                <h2 class="heading A-TYP28L-RW-ALL remove-bottom-space" id="pp_tools_heading_6">
                                    Apply for an HSBC Premier Relationship Savings account
                                </h2>
                            </div>
                        </div>

                        <div id="pp_tools_columnControlColumn_10" class="cc-column"></div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_tools_columnControl_11">
                    <div class="cc cc-columns-66-33">
                        <div id="pp_tools_columnControlColumn_18" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV">
                                <div class="anchor" id="frequently-asked-questions"></div>

                                <h3 class="heading A-TYP22L-RW-ALL remove-bottom-space" id="pp_tools_heading_10">
                                    Frequently asked questions
                                </h3>
                            </div>
                        </div>

                        <div id="pp_tools_columnControlColumn_19" class="cc-column"></div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="pp_tools_columnControl_12">
                    <div class="cc cc-columns-66-33">
                        <div id="pp_tools_columnControlColumn_20" class="cc-column">
                            <div class="O-SMARTSPCGEN-DEV O-ACCRD-RW-RBWM row">
                                <div>
                                    <div id="pp_tools_accordion_3" class="accordions-container sm-12">
                                        <div class="O-SMARTSPCGEN-DEV O-ADVEXP-RW-RBWM row">
                                            <div id="pp_tools_advanced_expander_4" class="sm-12 clear-float">
                                                <div class="anchor" id="additional-requirements-1"></div>

                                                <div class="A-EXPCNT-RW-RBWM expander">
                                                    <div class="dropdown" aria-controls="-1072230801__panel0" role="button" tabindex="0">
                                                        <h4 id="-1072230801__tab0" class="dropdown-text">How does the Premier Relationship Savings account work?&nbsp;</h4>
                                                        <span class="chevron"></span>
                                                    </div>
                                                    <section id="-1072230801__panel0" class="exp-content" aria-hidden="true" tabindex="-1">
                                                        <div class="exp-panel">
                                                            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                                                                <div id="pp_tools_columnControl_13">
                                                                    <div class="cc cc-columns-100">
                                                                        <div id="pp_tools_columnControlColumn_21" class="cc-column">
                                                                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                                                <div id="pp_tools_richtext_12" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                                                    <p class="A-PAR16R-RW-ALL">
                                                                                        <span style="font-weight: normal;">
                                                                                            Premier Relationship Savings accounts that are linked to an eligible Premier checking account and meet at least 1 of 5 qualification criteria in the
                                                                                            current month will receive the Relationship APY for the entire following month. If none of the qualification criteria are met in the current month,
                                                                                            the account will receive the Standard APY in the following month.&nbsp;
                                                                                        </span>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="O-SMARTSPCGEN-DEV O-ADVEXP-RW-RBWM row">
                                            <div id="pp_tools_advanced_expander_5" class="sm-12 clear-float">
                                                <div class="anchor" id="additional-requirements-1"></div>

                                                <div class="A-EXPCNT-RW-RBWM expander">
                                                    <div class="dropdown" aria-controls="-1297512351__panel0" role="button" tabindex="0">
                                                        <h4 id="-1297512351__tab0" class="dropdown-text">Will I need to meet any of the qualifying criteria during the Introductory Period?&nbsp;</h4>
                                                        <span class="chevron"></span>
                                                    </div>
                                                    <section id="-1297512351__panel0" class="exp-content" aria-hidden="true" tabindex="-1">
                                                        <div class="exp-panel">
                                                            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                                                                <div id="pp_tools_columnControl_14">
                                                                    <div class="cc cc-columns-100">
                                                                        <div id="pp_tools_columnControlColumn_22" class="cc-column">
                                                                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                                                <div id="pp_tools_richtext_13" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                                                    <p class="A-PAR16R-RW-ALL">
                                                                                        <span style="font-weight: normal;">
                                                                                            <p>
                                                                                                You'll automatically receive the Relationship APY during the Introductory Period. However, to continue earning the Relationship APY after the
                                                                                                Introductory Period expires, you must meet at least one of the qualifying criteria during the last month of the Introductory Period and each
                                                                                                following month.
                                                                                            </p>
                                                                                            <p>
                                                                                                Example: A Premier Relationship Savings account opened on January 15 will receive the Relationship APY for the remainder of January (month of
                                                                                                account opening), plus all of February, March, and April (3 full calendar months). For the account to receive the Relationship APY in May, you
                                                                                                must meet at least one of the qualifying criteria in April (the last month of the Introductory Period).
                                                                                            </p>
                                                                                        </span>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="O-SMARTSPCGEN-DEV O-ADVEXP-RW-RBWM row">
                                            <div id="pp_tools_advanced_expander_6" class="sm-12 clear-float">
                                                <div class="anchor" id="additional-requirements-1"></div>

                                                <div class="A-EXPCNT-RW-RBWM expander">
                                                    <div class="dropdown" aria-controls="-1158202878__panel0" role="button" tabindex="0">
                                                        <h4 id="-1158202878__tab0" class="dropdown-text">What is a Qualifying Direct Deposit?&nbsp;</h4>
                                                        <span class="chevron"></span>
                                                    </div>
                                                    <section id="-1158202878__panel0" class="exp-content" aria-hidden="true" tabindex="-1">
                                                        <div class="exp-panel">
                                                            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                                                                <div id="pp_tools_columnControl_15">
                                                                    <div class="cc cc-columns-100">
                                                                        <div id="pp_tools_columnControlColumn_23" class="cc-column">
                                                                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                                                <div id="pp_tools_richtext_14" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                                                    <p class="A-PAR16R-RW-ALL">
                                                                                        <span style="font-weight: normal;">
                                                                                            Qualifying direct deposits are electronic deposits of regular periodic payments (such as salary, pension, Social Security, or other regular monthly
                                                                                            income) deposited through the Automated Clearing House (ACH) network by your employer or an outside agency. Please check with your employer or
                                                                                            outside agency to determine if they use the ACH network. Direct Deposits that do not qualify include but are not limited to wires, transfers from
                                                                                            one HSBC account to another, mobile deposits using the HSBC mobile app and cash or check deposits made at a Wealth Center or ATM.
                                                                                        </span>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="O-SMARTSPCGEN-DEV O-ADVEXP-RW-RBWM row">
                                            <div id="pp_tools_advanced_expander_7" class="sm-12 clear-float">
                                                <div class="anchor" id="additional-requirements-1"></div>

                                                <div class="A-EXPCNT-RW-RBWM expander">
                                                    <div class="dropdown" aria-controls="27035486__panel0" role="button" tabindex="0">
                                                        <h4 id="27035486__tab0" class="dropdown-text">I earned the Relationship APY last month, why didn't I earn it this month?&nbsp;</h4>
                                                        <span class="chevron"></span>
                                                    </div>
                                                    <section id="27035486__panel0" class="exp-content" aria-hidden="true" tabindex="-1">
                                                        <div class="exp-panel">
                                                            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                                                                <div id="pp_tools_columnControl_16">
                                                                    <div class="cc cc-columns-100">
                                                                        <div id="pp_tools_columnControlColumn_24" class="cc-column">
                                                                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                                                <div id="pp_tools_richtext_15" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                                                    <p class="A-PAR16R-RW-ALL">
                                                                                        <span style="font-weight: normal;">
                                                                                            You may not have met the qualifying criteria during the previous month, or your Premier Relationship Savings account may no longer be linked to an
                                                                                            eligible Premier checking account. Contact your Relationship Manager for more details.
                                                                                        </span>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="O-SMARTSPCGEN-DEV O-ADVEXP-RW-RBWM row">
                                            <div id="pp_tools_advanced_expander_8" class="sm-12 clear-float">
                                                <div class="anchor" id="additional-requirements-1"></div>

                                                <div class="A-EXPCNT-RW-RBWM expander">
                                                    <div class="dropdown" aria-controls="-1157251368__panel0" role="button" tabindex="0">
                                                        <h4 id="-1157251368__tab0" class="dropdown-text">I have multiple Premier checking accounts. Which one do I link to my Premier Relationship Savings account?&nbsp;</h4>
                                                        <span class="chevron"></span>
                                                    </div>
                                                    <section id="-1157251368__panel0" class="exp-content" aria-hidden="true" tabindex="-1">
                                                        <div class="exp-panel">
                                                            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                                                                <div id="pp_tools_columnControl_17">
                                                                    <div class="cc cc-columns-100">
                                                                        <div id="pp_tools_columnControlColumn_25" class="cc-column">
                                                                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                                                <div id="pp_tools_richtext_16" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                                                    <p class="A-PAR16R-RW-ALL">
                                                                                        <span style="font-weight: normal;">
                                                                                            If you have more than one Premier checking account, you must designate which account will be linked to your Premier Relationship Savings account at
                                                                                            the time of account opening. This should be the Premier checking account that you will use to meet the qualifying criteria each month. For example,
                                                                                            the Premier checking that you will receive monthly direct deposits, make monthly payments on your HSBC credit cards or use the associated debit card
                                                                                            make monthly purchases.
                                                                                        </span>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="O-SMARTSPCGEN-DEV M-CONTMAST-RW-RBWM links">
                                <div>
                                    <ul id="pp_tools_links_3" class="links-list">
                                        <li>
                                            <div id="pp_tools_link_3" class="link-container">
                                                <a
                                                    class="A-LNKST-RW-ALL"
                                                    href="https://www.us.hsbc.com/content/dam/hsbc/us/docs/pdf/deposit-terms-and-charges/premier-relationship-savings-faqs-revised-effective-oct-1st-2024-final.pdf"
                                                    target="_blank"
                                                    rel="noopener "
                                                    data-event-component="text link"
                                                    data-event-name="See all Premier Relationship Savings FAQs | component:links | Position: left"
                                                >
                                                    <span aria-hidden="true" class="link">
                                                        See all Premier Relationship Savings FAQs
                                                    </span>
                                                    &nbsp;<span class="icon icon-chevron-right" aria-hidden="true"></span>
                                                    <span class="visuallyhidden">See all Premier Relationship Savings FAQs This link will open in a new window</span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div id="pp_tools_columnControlColumn_26" class="cc-column"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row with-bg">
        <div class="sm-12">


            <div class="O-SMARTSPCGEN-DEV O-ADVEXP-RW-RBWM row">
                <div id="pp_rel_advanced_expander_1" class="sm-12 clear-float">
                    <div class="A-LNKE-RW-ALL expander">
                        <div class="dropdown" aria-controls="2036829954__panel0" role="button" tabindex="0">
                            <h3 id="2036829954__tab0" class="dropdown-text">Disclaimers&nbsp;</h3>
                            <span class="chevron"></span>
                        </div>
                        <section id="2036829954__panel0" class="exp-content" aria-hidden="true" tabindex="-1">
                            <div class="exp-panel">
                                <div class="cc-wrapper O-COLCTRL-RW-DEV">
                                    <div id="pp_rel_columnControl_1">
                                        <div class="cc cc-columns-66-33">
                                            <div id="pp_rel_columnControlColumn_1" class="cc-column">
                                                <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                    <div id="pp_rel_richtext_1" class="A-PAR14R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                        <p class="A-PAR14R-RW-ALL"></p>
                                                        <p><strong>Procedures for opening a new account</strong></p>
                                                        <p>
                                                            To help the government fight the funding of terrorism and money laundering activities, Federal law requires all financial institutions to obtain, verify, and record information
                                                            that identifies each person or entity that opens an account.
                                                        </p>
                                                        <p>
                                                            <strong>What this means for you</strong>: If you open a personal account, we will ask for your name, address, taxpayer identification number, date of birth, and other information
                                                            that will allow us to identify you. Additionally, we will take certain steps to verify your identity, such as asking for your driver's license or other identifying documents or
                                                            checking other sources. Similar identification requirements apply to non-personal accounts such as corporations and partnerships. Be assured that we recognize the importance of
                                                            protecting your privacy and safeguarding the confidentiality of the information you provide to us.
                                                        </p>
                                                        <p class="A-PAR14R-RW-ALL"></p>
                                                        <p><strong>Privacy and security</strong></p>
                                                        <p>
                                                            HSBC recognizes the importance of protecting your privacy and we take great care to safeguard the confidentiality of your personal information. Visit our
                                                            <a href="/help/security/protect-you/" target="_self" rel="noopener noreferrer">HSBC Security &amp; Fraud Center</a> to learn more about how HSBC helps keep your information secure,
                                                            and what you can do to ensure a safe online experience.
                                                        </p>
                                                        <p class="A-PAR14R-RW-ALL">
                                                            United States persons are subject to U.S. taxation on their worldwide income and may be subject to tax and other filing obligations with respect to their U.S. and non-U.S.
                                                            accounts. U.S. persons should consult a tax adviser for more information.
                                                        </p>
                                                        <p class="A-PAR14R-RW-ALL">
                                                            Mortgage and home equity products are offered in the U.S. by HSBC Bank USA, N.A. and are only available for properties located in the U.S. Subject to credit approval. Borrowers
                                                            must meet program qualifications. Programs are subject to change. Geographic and other restrictions may apply. Discounts can be cancelled or are subject to change at any time and
                                                            cannot be combined with any other offer or discount.<br />
                                                        </p>
                                                        <p class="A-PAR14R-RW-ALL">Deposit products are offered in the U.S. by HSBC Bank USA, N.A. Member FDIC.&nbsp;</p>
                                                        <p class="A-PAR14R-RW-ALL">Mastercard and the circles design are registered trademarks of Mastercard International Incorporated.</p>
                                                        <p class="A-PAR14R-RW-ALL">
                                                            The APYs and balances for an HSBC Premier Relationship Savings account which are accurate as of {{currentDate}} are: Standard APY of 0.05% APY on balances of $1 or more and
                                                            Relationship APY of 4.40% APY on balances of $1 or more when eligibility requirements are met.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="pp_rel_columnControlColumn_2" class="cc-column"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div class="O-SMARTSPCGEN-DEV M-BACKTOTOP-RW-RBWM">
                <div id="pp_rel_backtotop_1">
                    <div id="pp_rel_link_1" class="link-container">
                        <a class="A-LNKAU-RW-ALL" href="#">
                            <span class="link">
                                Back to top
                            </span>
                            &nbsp;<span class="icon icon-anchor-up" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

   <script src="{% static 'hsbc/etc.clientlibs1/dpws/clientlibs-public/clientlib-all.min.c0dcaa378149e069ef2eb177d519d840.js' %}"></script>
       <link rel="stylesheet" href="{% static 'hsbc/etc.clientlibs1/dpws/clientlibs-public/clientlib-conthub.min.407e8b03f072827daab813f2654e51d7.css' %}" type="text/css">

{% include "core/footer.html" %}
