{% include "core/header.html" %}
{% load static %}
<section>
    <div id="fragment-1773689-dlab">
        <div class="trk-content top-text">
            <div class="san-spc spc-hero pb-0 text-break text-center" id="spc-hero-dlab">
                <div class="hero-banner text-center">
                    <div class="sancontainer">
                        <div class="sanrow">
                            <div class="">
                                <div class="spc-hero-banner-title">
                                    <div>
                                        <h1>&nbsp;<span class="text-white">Santander</span>®<span class="text-white"> Private Client</span></h1>
                                    </div>
                                </div>
                                <div class="spc-hero-banner-subtitle">
                                    <div>
                                        <h2>Elevated Banking for Inspired Living</h2>
                                        <h3>
                                            <span class="text-white">
                                                A personalized experience for our premium clients, delivered by a<br />
                                                professional team dedicated to your financial possibilities.
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                                <div class="spc-hero-banner-button hide">
                                    <div>
                                        <a href="#private-accounts" class="red-button trk-btn" id="hero-banner-btn-01_see-accounts" aria-label="Santander Private Client See our accounts" title="Santander Private Client See our accounts">
                                            See our accounts&nbsp;
                                        </a>
                                    </div>
                                </div>
                                <div class="spc-hero-banner-image">
                                    <figure class="relativeimg d-desktop">
                                        <div>
                                            <img
                                                alt="Woman walking in city street with phone in hand."
                                                class="img-fluid"
                                                src="https://www.santanderbank.com/documents/330001/13790913/HP_Woman_walking_city_streets_with_phone_in_hand_D.jpg/869eae84-7cf9-cbd5-0531-53009bf25ec7?t=1718972248001&download=true"
                                            />
                                        </div>
                                    </figure>
                                    <figure class="relativeimg d-mobile">
                                        <div>
                                            <img
                                                alt="Santander Private Client"
                                                class="img-fluid"
                                                src="https://www.santanderbank.com/documents/330001/13790913/HP_Woman_walking_city_streets_with_phone_in_hand_D.jpg/869eae84-7cf9-cbd5-0531-53009bf25ec7?t=1718972248001&download=true"
                                            />
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .san-spc.spc-hero .hero-banner {
            background-color: #000000;
            background-image: url("https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2020/05/black-paper-background.jpg?resize=1250,1120");
            background-repeat: no-repeat;
            background-position: bottom;
            padding-top: 90px;
            position: relative;
            /*padding-bottom: 100px;*/
        }

        .san-spc.spc-hero .hero-banner h1,
        .san-spc.spc-hero .hero-banner p {
            color: #ffffff;
            margin-bottom: 15px;
        }

        .san-spc.spc-hero .hero-banner h2 {
            color: #ffffff;
            font-family: "SantanderHeadlineW05-Light";
            margin-bottom: 30px;
            font-size: 30px !important;
            line-height: 36px !important;
        }

        .san-spc.spc-hero .hero-banner figure {
            max-width: 1072px;
            overflow: hidden;
            position: relative;
            top: 94px;
            -webkit-box-shadow: 0px 14px 15px #00000040;
            box-shadow: 0px 14px 15px #00000040;
            /*max-width: 995px;*/
            margin: 0 auto;
        }

        .san-spc.spc-hero .hero-banner figure img {
        }

        .san-spc.spc-hero .hero-banner .sancontainer {
            position: relative;
            /*z-index: 9;*/
            z-index: 1;
            padding: 0px;
        }

        .san-spc.spc-hero .hero-banner .sanrow:before,
        .san-spc.spc-hero .hero-banner .sanrow:after {
            display: none;
        }

        .san-spc.spc-hero .hero-banner::before {
            content: "";
            position: absolute;
            left: 0;
            top: 104px;
            width: 100%;
            background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(78.38%, rgba(0, 0, 0, 0)));
            background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 78.38%);
            z-index: 0;
            height: 404px;
        }

        @media only screen and (max-width: 991px) {
            .san-spc.spc-hero .hero-banner::before {
                top: 0;
            }
        }

        @media only screen and (max-width: 767px) {
            /*.san-spc.spc-hero .hero-banner .sancontainer { padding: 0px 34px; }*/
        }

        @media only screen and (max-width: 480px) {
            .san-spc.spc-hero .hero-banner {
                padding-top: 80px;
                background-image: url("https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2020/05/black-paper-background.jpg?resize=1250,1120");
                background-position: bottom;
            }
            .san-spc.spc-hero .hero-banner .sancontainer {
                padding: 0px 30px;
            }
            .san-spc.spc-hero .hero-banner figure {
                top: 80px;
                -webkit-box-shadow: 0px 14px 15px #00000040;
                box-shadow: 0px 14px 15px #00000040;
                /*max-width: 260px;*/
            }
            .san-spc.spc-hero .hero-banner h1 {
                max-width: 322px;
                margin: 0 auto;
                margin-bottom: 15px;
                font-size: 44px !important;
                line-height: 48px !important;
            }
            .san-spc.spc-hero .hero-banner h2 {
                font-size: 24px !important;
                line-height: 32px !important;
            }
            .san-spc.spc-hero .hero-banner h2 br {
                display: none;
            }
            .san-spc.spc-hero .hero-banner::before {
                top: 120px;
            }
        }

        @media only screen and (max-width: 413px) .san-spc.spc-hero .hero-banner::before {
            top: 0px;
            height: 300px;
        }
    </style>
</section>
<section class="bg-" >
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div id="fragment-0-yqxv">
                    <div>
                        <div class="py-5"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-yqxv");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-5",
                        };
                    })();
                </script>
                <div id="fragment-0-btpb">
                    <div>
                        <div class="py-5"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-btpb");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-5",
                        };
                    })();
                </script>
                <div id="fragment-0-ropj">
                    <div class="top-text px-4">
                        <div class="component-paragraph pb-3 text-left text-break">
                            <div>
                                <h2><span class="text-white">Inspired by you</span></h2>
                                <h3>
                                    Welcome to a banking relationship that supports your everyday needs, your long-term goals, and your lifetime aspirations. As you build your legacy, we’ll be here to offer you the very best of Santander.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .component-paragraph img {
                        max-width: 100%;
                    }
                </style>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-ropj");
                        var configuration = {
                            textAlign: "left",
                            bottomSpacing: "3",
                            textColor: {
                                cssClass: "",
                                rgbValue: "",
                            },
                            additionalCssClass: "top-text  px-4",
                        };
                    })();
                </script>
                <div id="fragment-1751977-annt">
                    <div class="ml-4 temapply temapplyspc gravRel gravRelDep">
                        <div class="san-spc pb-o text-left text-break" id="spc-button-annt">
                            <div class="spc-button">
                                <a class="red-button trk-btn" href="" id="spc-btn-01" target="_blank" aria-label="" title="">
                                    Get started today
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    /* DESKTOP LARGE VERSION */

                    @media only screen and (min-width: 1200px) {
                    }

                    /* DESKTOP VERSION */

                    @media only screen and (min-width: 980px) and (max-width: 1199px) {
                    }

                    /* TABLET VERSION */

                    @media only screen and (max-width: 767px) {
                        .san-spc .spc-button {
                            padding: 0px 30px !important;
                        }
                    }

                    /* MOBILE VERSIONS */

                    @media only screen and (max-width: 480px) {
                        .san-spc .spc-button {
                            padding: 0px 30px !important;
                        }
                    }
                </style>
            </div>
            <div class="col-md-5">
                <div id="fragment-0-wkjc">
                    <div>
                        <div class="py-5"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-wkjc");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-5",
                        };
                    })();
                </script>
                <div id="fragment-0-uccw">
                    <div>
                        <div class="py-5"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-uccw");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-5",
                        };
                    })();
                </script>
                <div id="fragment-0-pbek">
                    <div>
                        <div class="component-image pb-3 overflow-hidden text-left">
                            <div>
                                <img
                                    alt="Responsive Image"
                                    class="w-100"
                                    src="https://www.santanderbank.com/documents/330001/14323854/SPC_desktop_Landing_image3_Private-Client_Card-Tilted_RGB_1.png/2802955b-4397-e84a-88a4-0f6d9274fca2?t=1615987810740&download=true"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-pbek");
                        var configuration = {
                            bottomSpacing: "3",
                            imageSize: "w-100",
                            imageAlign: "left",
                            additionalCssClass: "",
                        };
                    })();
                </script>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>








<section class="bg-santander-section-gray" style="">
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-0-dlvk">
                    <div>
                        <div class="py-5"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-dlvk");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-5",
                        };
                    })();
                </script>
            </div>
        </div>
    </div>
</section>
<section class="bg-santander-section-gray" style="">
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-0-zhqa">
                    <div>
                        <div class="py-3"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-zhqa");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-3",
                        };
                    })();
                </script>
            </div>
        </div>
    </div>
</section>
<section class="bg-" style="">
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-0-meic">
                    <div>
                        <div class="py-5"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-meic");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-5",
                        };
                    })();
                </script>
                <div id="fragment-0-azmp">
                    <div>
                        <div class="py-3"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-azmp");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-3",
                        };
                    })();
                </script>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="fragment-1763555-otvl">
        <div>
            <div class="san-spc contact-banner-image pb-0 text-break" id="spc-contact-banner-image-otvl">
                <div class="san-spc contact-banner-image pb-0 text-break" id="spc-contact-banner-image-otvl">
                    <div class="becoming-a-santander-private-client bg-" id="spc-banner-image-otvl">
                        <div class="sancontainer">
                            <div class="sanrow">
                                <div class="">
                                    <figure class="relativeimg d-desktop">
                                        <div>
                                            <img
                                                src="https://www.santanderbank.com/documents/330001/13790913/HP_Family_walking_toward_car_going_on_vacation_D.jpg/b67e2333-2325-eb35-07d8-4053425fd073?t=1718972246605&download=true"
                                                class="img-fluid"
                                                alt="A family walking toward a car going on vacation"
                                            />
                                        </div>
                                    </figure>
                                    <figure class="relativeimg d-mobile">
                                        <div>
                                            <img
                                                src="https://www.santanderbank.com/documents/330001/13790913/HP_Family_walking_toward_car_going_on_vacation_D.jpg/b67e2333-2325-eb35-07d8-4053425fd073?t=1718972246605&download=true"
                                                class="img-fluid"
                                                alt="Becoming a Santander Private Client"
                                            />
                                        </div>
                                    </figure>
                                    <div>
                                        <h2>
                                            Becoming a Santander<br />
                                            Private Client
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        /* force bg-dark to be #000000 rather than #303030 */

        section.bg-dark {
            background-color: #000000 !important;
        }

        .san-spc .component-paragraph p,
        .san-spc .component-html p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 26px;
            /*font-family: 'SantanderHeadlineW05-Light';*/
            margin-top: 0px;
        }

        .san-spc .component-paragraph p.subtitle,
        .san-spc .component-html p.subtitle {
            font-family: "SantanderTextW05-Regular";
            font-size: 18px;
            font-weight: bold;
            line-height: 26px;
            margin-bottom: 5px;
        }

        .san-spc.small-text .component-paragraph p,
        .san-spc.small-text .component-html p {
            font-size: 14px !important;
            line-height: 18px;
            font-family: "SantanderHeadlineW05-Light";
        }

        .san-spc.spc-icon .component-image {
            /*margin-bottom: 16px;*/
            min-height: 75px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .san-spc.spc-icon .component-image img {
            display: block;
            border: none;
        }

        .san-spc.contact-banner-image .becoming-a-santander-private-client .sanrow::before,
        .san-spc.contact-banner-image .becoming-a-santander-private-client .sanrow::after {
            display: none;
        }

        .san-spc.contact-banner-image .becoming-a-santander-private-client {
            position: relative;
            /*padding-bottom: 40px;*/
            padding-bottom: 100px;
            margin-bottom: -80px;
            background-color: #000000;
            background-image: url("/documents/330001/1741999/SPC_desktop_Landing_image9_flame_pattern.svg");
            background-repeat: no-repeat;
            background-position: top;
            text-align: center;
            color: #ffffff;
        }

        .has-edit-mode-menu .san-spc.contact-banner-image .becoming-a-santander-private-client {
            /*padding-top: 150px; margin:0 auto;*/
        }

        .san-spc.contact-banner-image .becoming-a-santander-private-client .sancontainer {
            padding: 0px;
        }

        .san-spc.contact-banner-image .becoming-a-santander-private-client h2 {
            color: #ffffff;
            margin-bottom: 50px;
            position: relative;
            z-index: 9;
            /*margin-top: -65px;*/
            margin-top: 0;
            font-size: 60px !important;
            line-height: 60px !important;
        }

        .san-spc.contact-banner-image .becoming-a-santander-private-client .sanrow.justify-content-center {
            justify-content: center;
            position: relative;
        }

        .san-spc.contact-banner-image .becoming-a-santander-private-client figure.relativeimg {
            position: relative;
            top: -150px;
            -webkit-box-shadow: 0px 14px 15px #00000040;
            box-shadow: 0px 14px 15px #00000040;
            max-width: 1072px;
            /*max-width: 995px;*/
            margin: 0 auto -15px;
            overflow: hidden;
        }

        .san-spc.contact-banner-image .becoming-a-santander-private-client:before {
            content: "";
            position: absolute;
            /*bottom: 221px;*/
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200px;
            background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.1)));
            background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
            z-index: 0;
        }

        .san-spc .d-desktop {
            display: block;
        }

        .san-spc .d-mobile {
            display: none;
        }

        @media only screen and (max-width: 1024px) {
            .san-spc.contact-banner-image .becoming-a-santander-private-client::before {
                bottom: 0;
                height: 500px;
            }
        }

        @media only screen and (max-width: 769px) {
        }

        @media only screen and (max-width: 480px) {
            .san-spc.contact-banner-image .becoming-a-santander-private-client {
                background-size: auto;
                background-position: top;
                padding-bottom: 45px;
            }
            .san-spc.contact-banner-image .becoming-a-santander-private-client .sancontainer {
                padding: 0px 30px;
            }
            .san-spc.contact-banner-image .becoming-a-santander-private-client h2 {
                /*margin-top: -70px;*/
                margin-top: 0;
                margin-bottom: 55px;
                font-size: 36px !important;
                line-height: 42px !important;
            }
            .san-spc.contact-banner-image .becoming-a-santander-private-client figure.relativeimg {
                top: -125px;
                margin: 0 auto -75px;
            }
            .san-spc.contact-banner-image .becoming-a-santander-private-client figure.relativeimg {
                -webkit-box-shadow: 0px 4px 15px #00000040;
                box-shadow: 0px 4px 15px #00000040;
                /*max-width:260px;*/
            }
            .san-spc.contact-banner-image .becoming-a-santander-private-client::before {
                bottom: 0;
                height: 150px;
            }
            .san-spc .component-paragraph p br,
            .san-spc .component-html p br {
                display: none;
            }
            .san-spc.small-text p br {
                display: none;
            }
            .san-spc .d-desktop {
                display: none;
            }
            .san-spc .d-mobile {
                display: block;
            }
        }
    </style>
</section>



<section class="bg-dark" style="">
    <div class="container px-3 py-0">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="fragment-0-iaxx">
                    <div class="san-spc small-text mt-4">
                        <div class="component-paragraph pb-4 text-center text-break">
                            <div>
                                <div style="text-align: center;">
                                    <span class="text-white">
                                        Clients must maintain combined balances of $250,000<sup>1</sup> in bank deposits, including consumer and certain business deposit products, and eligible investments held with Santander Investment
                                        Services.<sup>2</sup>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-iaxx");
                        var configuration = {
                            textAlign: "center",
                            bottomSpacing: "4",
                            textColor: {
                                cssClass: "",
                                rgbValue: "",
                            },
                            additionalCssClass: "san-spc small-text mt-4",
                        };
                    })();
                </script>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
<section class="bg-santander-section-gray" style="">
    <div class="container px-0 py-0">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-0-vkhu">
                    <div>
                        <div class="py-3"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-vkhu");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-3",
                        };
                    })();
                </script>
            </div>
        </div>
    </div>
</section>
<section class="bg-santander-section-gray" style="">
    <div class="container px-0 py-0">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div id="fragment-0-auwm">
                    <div class="san-spc spc-faq">
                        <div class="component-paragraph pb-3 text-center text-break">
                            <div>
                                <h2><span class="text-black">Frequently asked questions</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="fragment-1755727-uhws">
                    <div class="mx-5 trk-content">
                        <div class="san-spc faq-accordion accordion-wrapper pb-0 text-break" id="spc-faq-accordion-uhws">
                            <div class="faq">
                                <div class="sancontainer">
                                    <div class="accordion-item accordion-item-1">
                                        <div class="accordion-item-header" id="accordionItemHeader1">
                                            <button
                                                aria-controls="accordionItem1"
                                                aria-expanded="true"
                                                class="accordion-item-btn btn btn-link btn-block trk-btn text-left"
                                                data-target="#accordionItem1"
                                                data-toggle="collapse"
                                                type="button"
                                                id="spc-acc-01"
                                            >
                                                <div>How do I become a Santander Private Client?</div>
                                                <div class="accordion-item-btn-icons">
                                                    <span class="accordion-item-icon collapse-icon">
                                                        <img src="https://www.santanderbank.com/documents/330001/14328326/SPC_image_faq_dropdown.svg/b4b6e3eb-4def-cc44-058a-6df42b627595" style="transform: rotate(180deg);" alt="open close icon">
                                                    </span>
                                                    <span class="accordion-item-icon expand-icon">
                                                        <img src="https://www.santanderbank.com/documents/330001/14328326/SPC_image_faq_dropdown.svg/b4b6e3eb-4def-cc44-058a-6df42b627595" style="transform: rotate(0deg);" alt="open close icon">
                                                    </span>
                                                </div>
                                            </button>
                                        </div>
                                        <div aria-labelledby="accordionItemHeader1" class="collapse show" id="accordionItem1">
                                            <div class="accordion-item-body">
                                                <div>
                                                    <p>
                                                        We understand your time is valuable, that's why we're offering both in person and digital account application processes for Private Client. You can open a Santander® Private Client
                                                        Checking Account by visiting any&nbsp;
                                                        <a aria-label="You can open a Santander® Private Client Checking Account by visiting any Santander branch" href="https://locations.santanderbank.com/" target="_blank">
                                                            Santander branch
                                                        </a>
                                                        &nbsp;&nbsp;today.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-2">
                                        <div class="accordion-item-header" id="accordionItemHeader2">
                                            <button
                                                aria-controls="accordionItem2"
                                                aria-expanded="false"
                                                class="accordion-item-btn btn btn-link btn-block trk-btn collapsed text-left"
                                                data-target="#accordionItem2"
                                                data-toggle="collapse"
                                                type="button"
                                                id="spc-acc-02"
                                            >
                                                <div>What do I need to qualify for Santander Private Client?</div>
                                                <div class="accordion-item-btn-icons">
                                                    <span class="accordion-item-icon collapse-icon">
                                                        <img src="https://www.santanderbank.com/documents/330001/14328326/SPC_image_faq_dropdown.svg/b4b6e3eb-4def-cc44-058a-6df42b627595" style="transform: rotate(180deg);" alt="open close icon">
                                                    </span>
                                                    <span class="accordion-item-icon expand-icon">
                                                        <img src="https://www.santanderbank.com/documents/330001/14328326/SPC_image_faq_dropdown.svg/b4b6e3eb-4def-cc44-058a-6df42b627595" style="transform: rotate(0deg);" alt="open close icon">
                                                    </span>
                                                </div>
                                            </button>
                                        </div>
                                        <div aria-labelledby="accordionItemHeader2" class="collapse" id="accordionItem2">
                                            <div class="accordion-item-body">
                                                <div>
                                                    <p>
                                                        In order to qualify for and remain in Private Client, you must maintain combined balances of $250,000<sup>1</sup> in bank deposits, including consumer and certain business deposit
                                                        products and eligible investments held with Santander Investment Services.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-3">
                                        <div class="accordion-item-header" id="accordionItemHeader3">
                                            <button
                                                aria-controls="accordionItem3"
                                                aria-expanded="false"
                                                class="accordion-item-btn btn btn-link btn-block trk-btn collapsed text-left"
                                                data-target="#accordionItem3"
                                                data-toggle="collapse"
                                                type="button"
                                                id="spc-acc-03"
                                            >
                                                <div>Who can I speak with to learn more?</div>
                                                <div class="accordion-item-btn-icons">
                                                    <span class="accordion-item-icon collapse-icon">
                                                        <img src="https://www.santanderbank.com/documents/330001/14328326/SPC_image_faq_dropdown.svg/b4b6e3eb-4def-cc44-058a-6df42b627595" style="transform: rotate(180deg);" alt="open close icon">
                                                    </span>
                                                    <span class="accordion-item-icon expand-icon">
                                                        <img src="https://www.santanderbank.com/documents/330001/14328326/SPC_image_faq_dropdown.svg/b4b6e3eb-4def-cc44-058a-6df42b627595" style="transform: rotate(0deg);" alt="open close icon">
                                                    </span>
                                                </div>
                                            </button>
                                        </div>
                                        <div aria-labelledby="accordionItemHeader3" class="collapse" id="accordionItem3">
                                            <div class="accordion-item-body">
                                                <div>
                                                    <p>You can visit or call any of our local Santander branches to speak with a banker and learn more about Santander Private Client today.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-4">
                                        <div class="accordion-item-header" id="accordionItemHeader4">
                                            <button
                                                aria-controls="accordionItem4"
                                                aria-expanded="false"
                                                class="accordion-item-btn btn btn-link btn-block trk-btn collapsed text-left"
                                                data-target="#accordionItem4"
                                                data-toggle="collapse"
                                                type="button"
                                                id="spc-acc-04"
                                            >
                                                <div>How do I set up my new Santander Private Client account?</div>
                                                <div class="accordion-item-btn-icons">
                                                    <span class="accordion-item-icon collapse-icon">
                                                        <img src="https://www.santanderbank.com/documents/330001/14328326/SPC_image_faq_dropdown.svg/b4b6e3eb-4def-cc44-058a-6df42b627595" style="transform: rotate(180deg);" alt="open close icon">
                                                    </span>
                                                    <span class="accordion-item-icon expand-icon">
                                                        <img src="https://www.santanderbank.com/documents/330001/14328326/SPC_image_faq_dropdown.svg/b4b6e3eb-4def-cc44-058a-6df42b627595" style="transform: rotate(0deg);" alt="open close icon">
                                                    </span>
                                                </div>
                                            </button>
                                        </div>
                                        <div aria-labelledby="accordionItemHeader4" class="collapse" id="accordionItem4">
                                            <div class="accordion-item-body">
                                                <div>
                                                    <p>
                                                        Take advantage of all the benefits of your account and banking relationship with Santander® Private Client. For quick and easy access to everything you need to set up and manage your
                                                        account, visit our&nbsp;<a href="/accountsetup/private-client" target="_self">Santander Private Client Account Set-up page</a>.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .san-spc.spc-faq h2 {
                        margin-bottom: 45px;
                        font-size: 60px !important;
                    }

                    .faq-accordion.accordion-wrapper {
                        /*margin: 1em auto 3em auto;*/
                        font-family: "SantanderTextW05-Regular";
                    }

                    .has-edit-mode-menu .san-spc.faq-accordion.accordion-wrapper {
                        padding-bottom: 1em;
                    }

                    .san-spc.faq-accordion .accordion-item-btn {
                        /*background: #87a8b6; border: 1px solid #9ac4d2;*/
                        box-shadow: none !important;
                        padding: 20px 0px;
                        color: #474747;
                        background-color: transparent;
                        display: flex;
                        font-size: 18px;
                        justify-content: space-between;
                        line-height: 26px;
                        /*padding: .65em 2.25em .65em 1em;*/
                        text-decoration: none !important;
                        font-family: "SantanderTextW05-Regular";
                        font-weight: bold;
                        /*border:2px solid ##f2f2f2;*/
                    }

                    .san-spc.faq-accordion .accordion-item-btn:hover {
                        /*background: #fff;*/
                        background-color: transparent;
                        color: #474747;
                    }

                    .san-spc.faq-accordion .accordion-item-btn:focus {
                        /*border:2px solid #000; border-radius: .25em;*/
                    }

                    .san-spc.faq-accordion .accordion-item {
                        border-bottom: 1px solid #9ea1a3;
                    }

                    .san-spc.faq-accordion .accordion-item:not(:first-child) .accordion-item-btn {
                        /*border-top: 0;*/
                    }

                    .san-spc.faq-accordion .accordion-item-btn .accordion-item-btn-icons {
                        color: #ec0000;
                        font-size: 0.75em;
                    }

                    .san-spc.faq-accordion .accordion-item-btn .accordion-item-icon {
                        display: none;
                    }

                    .san-spc.faq-accordion .accordion-item-btn .accordion-item-icon img {
                        -webkit-transition: transform 0.3s ease;
                        -moz-transition: transform 0.3s ease;
                        -o-transition: transform 0.3s ease;
                        transition: transform 0.3s ease;
                    }

                    .san-spc.faq-accordion .accordion-item-btn.collapsed .expand-icon {
                        display: block;
                    }

                    .san-spc.faq-accordion .accordion-item-btn:not(.collapsed) .collapse-icon {
                        display: block;
                    }

                    .san-spc.faq-accordion .accordion-item .accordion-item-body {
                        /*border-bottom: 1px solid #9ac4d2;*/
                        padding-bottom: 20px;
                        /*padding: 1em .57em .5em;*/
                    }

                    .san-spc.faq-accordion .accordion-item .accordion-item-body p {
                        /*margin: 0 1em 1em !important;*/
                        max-width: 786px;
                    }

                    .san-spc.faq-accordion .accordion-item .accordion-item-body ul {
                        padding: 0 0 0 1em !important;
                        margin: 0.5em 2.75em 1em 1em !important;
                    }

                    .san-spc.faq-accordion .accordion-item sup {
                        font-size: 0.5em;
                        line-height: 1em;
                    }

                    @media only screen and (max-width: 480px) {
                        .san-spc.spc-faq h2 {
                            margin-bottom: 25px;
                            font-size: 44px !important;
                        }
                        .san-spc.faq-accordion .accordion-item-btn {
                            font-size: 1.2em !important;
                            line-height: 1.25em !important;
                        }
                        .san-spc.faq-accordion .accordion-item-btn div:nth-of-type(1) {
                            margin-right: 1em;
                        }
                    }

                    @media only screen and (max-width: 767px) {
                        .san-spc.spc-faq h2 {
                            margin-bottom: 25px;
                            font-size: 44px !important;
                        }
                        .san-spc.faq-accordion .accordion-item-btn {
                            font-size: 1.2em !important;
                            line-height: 1.25em !important;
                        }
                        .san-spc.faq-accordion .accordion-item-btn div:nth-of-type(1) {
                            margin-right: 1em;
                        }
                    }

                    @media only screen and (max-width: 480px) {
                        .san-spc.faq-accordion .sancontainer {
                            padding: 0 !important;
                        }
                    }
                </style>
                
                <!-- Fixed JavaScript for accordion functionality -->
                <script>
                document.addEventListener('DOMContentLoaded', function() {
                    // Get all accordion buttons
                    const accordionButtons = document.querySelectorAll('.accordion-item-btn');
                    
                    // Add click event listener to each button
                    accordionButtons.forEach(button => {
                        button.addEventListener('click', function() {
                            // Get the target collapse element
                            const targetId = this.getAttribute('data-target');
                            const targetCollapse = document.querySelector(targetId);
                            
                            // Toggle the collapse state
                            const isExpanded = this.getAttribute('aria-expanded') === 'true';
                            
                            // If this accordion is currently expanded
                            if (isExpanded) {
                                // Close it
                                this.setAttribute('aria-expanded', 'false');
                                this.classList.add('collapsed');
                                targetCollapse.classList.remove('show');
                            } else {
                                // Open it
                                this.setAttribute('aria-expanded', 'true');
                                this.classList.remove('collapsed');
                                targetCollapse.classList.add('show');
                            }
                        });
                    });
                });
                </script>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section class="bg-santander-section-gray" style="">
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-0-ajhx">
                    <div>
                        <div class="py-3"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-ajhx");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-3",
                        };
                    })();
                </script>
            </div>
        </div>
    </div>
</section>
<section class="bg-" style="">
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-0-zhgg">
                    <div>
                        <div class="py-3"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-zhgg");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-3",
                        };
                    })();
                </script>
            </div>
        </div>
    </div>
</section>
<section class="bg-" style="">
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-0-ovut">
                    <div class="px-4 px-md-0">
                        <div class="component-html pb-3">
                            <div>
                                <style>
                                    .sanrow.table-content .tables {
                                        border: 1px solid #000000;
                                        font-size: 14px;
                                        margin-top: 10px;
                                        margin-bottom: 24px;
                                        margin: 0 5% 1em;
                                        color: #000 !important;
                                        /*line-height: 1.4em;*/
                                        width: 90%;
                                    }

                                    .sanrow.table-content .tables .sanrow {
                                        margin-top: calc(var(--bs-gutter-y) * 0);
                                        margin-right: calc(var(--bs-gutter-x) / 0);
                                        margin-left: calc(var(--bs-gutter-x) / 0);
                                    }

                                    .sanrow.table-content .tables .sanrow .col {
                                        padding: 4px 0px;
                                    }

                                    .sanrow.table-content .tables .sanrow:nth-child(1) {
                                        border-bottom: 1px solid #272020;
                                    }

                                    .sanrow.table-content .tables .sanrow:nth-child(2) {
                                        border-bottom: 1px solid #272020;
                                    }

                                    .sanrow.table-content .tables .sanrow:nth-child(2) .col:nth-child(1) {
                                        border-right: 1px solid #000;
                                    }

                                    .sanrow.table-content .tables .sanrow:nth-child(2) .col:nth-child(2) {
                                        border-right: 1px solid #000;
                                    }

                                    .sanrow.table-content .tables .sanrow:nth-child(3) .col:nth-child(1) {
                                        border-right: 1px solid #000000;
                                    }

                                    .sanrow.table-content .tables .sanrow .col {
                                        padding: 4px 1px;
                                        display: -webkit-box;
                                        display: -ms-flexbox;
                                        display: flex;
                                        -webkit-box-align: center;
                                        -ms-flex-align: center;
                                        align-items: center;
                                        -webkit-box-pack: center;
                                        -ms-flex-pack: center;
                                        justify-content: center;
                                    }
                                </style>
                                <div>
                                    <p>
                                        For additional details, please refer to the <a href="https://www.santanderbank.com/privateclient-fee-schedule" target="_blank">Santander Private Client Fee Schedule</a> and our
                                        <a href="https://www.santanderbank.com/personal-deposit-account-agreement" target="_blank">Personal Deposit Account Agreement</a>.
                                    </p>
                                    <p>
                                        <sup>1</sup> Program Eligibility: Each service fee period, you are required to maintain a minimum combined balance of $250,000 in bank deposits (consumer and certain business products*) and eligible
                                        investments** held with Santander Investment Services. If you do not maintain the minimum combined balance, we reserve the right to change your Private Client accounts to other applicable product
                                        types, for which you may be charged the Monthly Fee. If we do so, we will notify you.
                                    </p>
                                    <p>
                                        *Eligible business products include Business Checking, Savings, Money Market Savings, and Certificate of Deposit accounts, and exclude the following accounts: IOLTA, Bankruptcy, Brokered Deposits,
                                        Controlled Disbursement, Escrow, Government, and Union accounts.
                                    </p>
                                    <p>
                                        **Eligible investments held with Santander Investment Services do not include the following: Annuities held at Mass Mutual, Allstate, Phoenix, Ohio National; Immediate annuities or annuities that have
                                        become annuitized; Mutual funds and 529 products not custodied by National Financial Services LLC; Insurance Products (with the exception of certain annuities held directly with a product sponsor).
                                    </p>
                                    <p><sup>2</sup>Past performance is no guarantee of future results.</p>
                                    <p>Keep in mind investing involves risk, including the risk of loss. Investment decisions should be based on an individual's own goals, time horizon, and tolerance for risk.</p>
                                    <p>
                                        Securities and advisory services are offered through Santander Investment Services, a division of Santander Securities LLC. Santander Securities LLC is a registered broker-dealer, member
                                        <a href="https://www.santanderbank.com/interstitial-pages/finra-redirect" target="_blank">FINRA</a> and
                                        <a href="https://www.santanderbank.com/interstitial-pages/sipc-redirect" target="_blank">SIPC</a> and a Registered Investment Adviser. Insurance is offered through Santander Securities LLC or its
                                        affiliates. Santander Investment Services is an affiliate of Santander Bank, N.A.
                                    </p>
                                    <p></p>
                                </div>
                                <table cellpadding="3" cellspacing="0" style="max-width: 80%; width: 100%; margin: 0 auto 1.5em;" width="90%">
                                    <tbody>
                                        <tr>
                                            <td align="center" colspan="6" style="width: 100%; border: 1px solid black; border-bottom: none;"><strong>INVESTMENT AND INSURANCE PRODUCTS ARE:</strong></td>
                                        </tr>
                                        <tr>
                                            <td align="center" colspan="2" style="width: 33%; border: 1px solid black; border-right: none; border-bottom: none;"><strong>NOT FDIC INSURED</strong></td>
                                            <td align="center" colspan="2" style="width: 34%; border: 1px solid black; border-right: none; border-bottom: none;"><strong>NOT BANK GUARANTEED</strong></td>
                                            <td align="center" colspan="2" style="width: 33%; border: 1px solid black; border-bottom: none;"><strong>MAY LOSE VALUE</strong></td>
                                        </tr>
                                        <tr>
                                            <td align="center" colspan="3" style="width: 50%; border: 1px solid black; border-right: none;"><strong>NOT INSURED BY ANY FEDERAL&nbsp;GOVERNMENT AGENCY</strong></td>
                                            <td align="center" colspan="3" rowspan="1" style="width: 50%; border: 1px solid black;"><strong>NOT A BANK DEPOSIT</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <div>
                                        <!-- RM -->
                                        <p>
                                            Santander Bank, N.A. is a Member FDIC and a wholly owned subsidiary of Banco Santander, S.A. ©2025 Santander Bank, N.A. All rights reserved. Santander, Santander Bank, the Flame Logo are
                                            trademarks of Banco Santander, S.A. or its subsidiaries in the United States or other countries. Mastercard is a registered trademark of Mastercard International, Inc. All other trademarks are the
                                            property of their respective owners.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .component-html img {
                        max-width: 100%;
                    }
                </style>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-ovut");
                        var configuration = {
                            bottomSpacing: "3",
                            additionalCssClass: "px-4 px-md-0",
                        };
                    })();
                </script>
            </div>
        </div>
    </div>
</section>




{% include "core/footer.html" %}
