{% include "core/header.html" %}
{% load static %}
<section class="bg-" style="">
    <div class="container px-0 py-3">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div id="fragment-8807165-ebxj">
                    <div class="highlight-box">
                        <style>
                            .hshift {
                                margin-top: -2em;
                            }
                        </style>
                        <div class="fragment_8665491">
                            <div class="highlightbox hshift">
                                <div>
                                    <h1>Santander Online Privacy Policy</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .fragment_8665491 {
                    }

                    .highlightbox {
                        width: 100%;
                        font-family: "SantanderTextW05-Regular";
                        font-size: 30px;
                        line-height: 36px;
                        text-align: center;
                        color: #ec0000;
                        padding: 59px 30px;
                        border-top: solid red 5px;
                        background-color: #fff;
                        position: relative;
                    }
                </style>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section class="bg-" style="">
    <div class="container px-0 py-0">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div id="fragment-0-pzyf">
                    <div class="body-container">
                        <div class="component-html pb-3">
                            <div>
                                <style>
                                    .container ul.listbox {
                                        list-style-type: none !important;
                                    }

                                    .container ul.listbox li::before {
                                        content: "\2022";
                                        color: red;
                                        font-weight: bold;
                                        display: inline-block;
                                        width: 1em;
                                        margin-left: -1em;
                                    }

                                    .listbox li {
                                        margin-bottom: 1em !important;
                                    }

                                    .secHeading ul {
                                        padding-left: 1em !important;
                                    }
                                </style>
                                <div class="secHeading">
                                    <p>
                                        This U.S. Online Privacy Policy ("Policy") applies to use of online services owned or controlled by Santander Bank, N.A. ("Santander"), including, but not limited to our website and mobile
                                        applications (“online sites”). The terms "we," "our," and "us" in this Policy refer to Santander Bank, N.A. This Policy describes how we may collect, share, use and protect information about you based
                                        on your interaction with our online sites, advertisements, third-party websites and Santander-branded social media sites and the choices you can make about how your information is collected and used.
                                        This policy applies to information collected online only. By using our online sites, you agree to the terms and conditions of this Policy and consent to our use of cookies and like technologies.
                                    </p>
                                    <h2>As you review this policy, please keep in mind that:</h2>
                                    <ul class="listbox">
                                        <li>This Policy is intended to cover our U.S. customers.</li>
                                        <li>If you access our online sites, your information may be transferred or processed in the U.S.</li>
                                        <li>
                                            Personal information that you share on Santander-managed social media pages, such as Facebook and Twitter, are subject to the privacy policies and terms of use of those platforms. Please refer to
                                            those policies before posting any content to those pages. You should NEVER provide personal information to Santander through public social media pages.
                                        </li>
                                        <li>
                                            Our online sites are not intended for children under the age of 13. We do not knowingly collect personal information from individuals under the age of 13 without parental consent. To learn more
                                            about the Children’s Online Privacy Protection Act (COPPA), please visit the Federal Trade Commission's Website at
                                            <a href="/interstitial-pages/ftc-redirect" target="_blank">https://www.ftc.gov/</a>.
                                        </li>
                                        <li>California residents, please find a link to our California Privacy Statement at the bottom of this Policy.</li>
                                    </ul>
                                    <h2 class="topmarg1">What Information We Collect:</h2>
                                    <h3>Personal Information</h3>
                                    <p>
                                        When you visit our site, we collect personal information that you provide, including in our forms, applications, surveys and other online fields. This information may include your name, mailing or
                                        email address, telephone number(s), account number(s) and other personal information you may provide. If you have a financial product or service with us, we will share and use any information we
                                        collect from or about you in accordance with our Privacy Notice which offers some choices with respect to the use and sharing of your personal information.
                                    </p>
                                    <h3>Non-personal Information</h3>
                                    <p>
                                        Santander and service providers acting on our behalf may also collect non-personal information from your use of our online sites. This information may include your IP address, browser and/or device
                                        information, including location information, if enabled on your device, type of operating system you are using, information about the site or advertisement that brought you to our online site, and the
                                        parts of our online sites that you visit.
                                    </p>
                                    <p>You have choices to limit the ways your non-personal information is collected and used, please view our Privacy Notice.</p>
                                    <h2>How We Collect Information</h2>
                                    <p>
                                        We collect information through various means, including the information you provide directly to us on our online sites, information collected through third parties, as described below, and in an
                                        automated fashion, through your browser, cookies, pixel tags, clear gifs, web beacons, flash cookies, and other technologies.
                                    </p>
                                    <p>
                                        Pixel tags, clear gifs, web beacons and flash cookies are transparent tags that are placed on a website, email or other message and are used to measure the actions of the visitor opening the page that
                                        contains the clear gifs and allow us to evaluate the effectiveness of our communications, detect and prevent fraud, advertising.
                                    </p>
                                    <p>
                                        Cookies are small text tiles that are stored on your computer or mobile device that allow us to collect certain information, such as your browser type, the time you spend on our online sites and the
                                        pages you visited. Many internet browsers allow you to refuse cookies, but doing so may cause you to be unable to access certain of our services. For more information on opting out of certain tracking
                                        see the "Your Choices" section, below.
                                    </p>
                                    <p>
                                        Third-Party Information: Santander contracts with advertising companies to advertise our products and services on third-party websites and mobile applications. We may use other information we collect
                                        as described above to assist these advertising companies in selecting which of our advertisements and offers may appeal to you. Please visit the third-party websites and mobile application for their
                                        privacy policies. We may also collect information about you from other online and offline sources, including our affiliates, credit reporting agencies and other third-party sources as permitted by
                                        law.
                                    </p>
                                    <h2>How We Use Information</h2>
                                    <p>The information Santander collects from and about you is used to increase your service and experience on our online sites. We may use your information:</p>
                                    <ul class="listbox">
                                        <li>To process your requests, transactions, applications and inquiries</li>
                                        <li>To verify your identity using location-based data</li>
                                        <li>To provide location-based services, such as Santander ATM locator</li>
                                        <li>
                                            To allow you to apply for products or services (e.g., to prequalify for a mortgage, apply for a credit card, or to open a retirement account, investment account or other financial product) and
                                            evaluate your eligibility for such products or services
                                        </li>
                                        <li>To provide you with updates on your accounts, products and services, such as changes to terms, conditions or policies</li>
                                        <li>To inform you about important information products or services for which you apply or may be interested in applying for, or in which you are already enrolled</li>
                                        <li>
                                            To monitor website usage and/or performance, improve customer experience on our website, ensure technological compatibility with visitors' computers or other electronic or mobile devices, or to
                                            conduct aggregate analyses on usage patterns
                                        </li>
                                        <li>To perform analytics concerning your use of our online services, including your responses to our emails and the pages and advertisements you view</li>
                                        <li>To deliver advertising to you directly or on third-party websites</li>
                                        <li>To allow you to access your online accounts</li>
                                        <li>To recognize you when you return to our sites</li>
                                        <li>For Risk Management and control purposes</li>
                                        <li>To detect and prevent fraud and increase security of our online services</li>
                                        <li>To provide you with personalized offers and customize your experience with Santander</li>
                                        <li>
                                            To allow you to participate in surveys and other forms of market research, sweepstakes, contests and similar promotions and to administer these activities. Some of these activities have additional
                                            rules, which may contain additional information about how Personal Information is used and shared;
                                        </li>
                                        <li>To comply with applicable legal requirements</li>
                                    </ul>
                                    <h2 class="topmarg1">How We Share Information</h2>
                                    <p>
                                        If you are a Santander customer, we may share personal information that we collect about you with our service providers, affiliates, joint marketers and non-affiliated third parties in accordance with
                                        our Privacy Notice and your preferences.
                                    </p>
                                    <ul class="listbox">
                                        <li>
                                            Service Providers, Affiliates or Joint Marketers. We may disclose certain personal and non-personal information we collect from your use of our online sites to companies that perform services on
                                            our behalf, including those who assist us in processing transactions, preparing and mailing statements, and responding to user inquiries. In addition, we may disclose that information to service
                                            providers that perform marketing services for us and to financial institutions with whom we have joint marketing agreements.
                                        </li>
                                        <li>
                                            Non-Affiliated Third Parties. We may disclose information about you to Non-Affiliated Third Parties as required or permitted by law, such as to comply with a subpoena, respond to inquiries from
                                            government authorities or defend legal actions.
                                        </li>
                                    </ul>
                                    <h2 class="topmarg1">Your Choices</h2>
                                    <h3>Do Not Track - Targeted Advertising</h3>
                                    <p>Your browser may allow you to choose to not have your activities tracked.</p>
                                    <p>
                                        We or our third-party advertising service providers, including network advertising companies, may use certain information about your online activities, such as websites visited and search key words
                                        entered, to help determine which of our advertisements may be of interest to you.
                                    </p>
                                    <p>
                                        We or our third-party service providers may also associate the personal and other information that we collect online to recognize you and associate your devices with each other in order to provide you
                                        with to seamless access and customize your user experience on our online sites across your devices. If you prefer not to receive targeted advertising based on your use of Santander sites and products,
                                        you can opt out of some network advertising programs that use your information. Many network advertising programs also allow you to manage the interest categories as they apply to your online browsing
                                        activities. For information about your choices to opt out of targeted online advertising click here:
                                        <a href="/interstitial-pages/web-choices-opt-out-redirect" target="_blank">http://www.aboutads.info/choices/</a> or
                                        <a href="/interstitial-pages/interest-based-opt-out-redirect" target="_blank">https://optout.networkadvertising.org/?c=1</a>
                                    </p>
                                    <p>
                                        Please remember that even if you opt out of targeted advertising, you may still see our advertisements when you are browsing online. However, the advertisements may not be tailored to you and your
                                        interests.
                                    </p>
                                    <h3>Third-Party Sites</h3>
                                    <p>
                                        We may provide links to the online sites of third-parties on our online sites. Please note that when you leave our online sites and visit a third-party site, your visit is governed by the privacy
                                        policies and practices of that website, and not Santander’s. We encourage you to review the terms of use and privacy policies of all third-party websites before you share any personally identifiable
                                        information with them.
                                    </p>
                                    <h3>Security</h3>
                                    <p>
                                        We maintain commercially reasonable security measures to protect your personal information collected through our site. We employ encryption technology, protecting data at each point of transfer. Data
                                        is collected on our site using SSL (Secure Sockets Layer) security. We utilize redundant systems (i.e. backup systems) to reduce the chance of data loss. We also use computer virus detection and
                                        eradication software on systems containing computer data. Firewalls are also employed to prevent unauthorized computer entry into systems containing your personal information.
                                    </p>
                                    <h3>Updating Your Information</h3>
                                    <p>It is important that your account information is accurate. Please visit Privacy Preferences to update or verify your contact information or to set marketing preferences.</p>
                                    <p></p>
                                    <h3>How to Protect Your Personal Information</h3>
                                    <p>
                                        It is important that you protect your personal information. We will never request personal information, such as social security number, account numbers, PINs, or passwords, by email. If you receive an
                                        email asking for your personal information that appears to be sent from Santander Bank, please contact us at 1-877-906-7500 to report the suspicious activity.
                                    </p>
                                    <p></p>
                                    <h3>Changes to this Policy</h3>
                                    <p>
                                        This Policy is effective as of October 1, 2017. We may periodically change this policy from time to time. When we make changes to this policy, we will let you know via effective means such as posting
                                        on our main webpage. Changes to this privacy policy are effective as soon as they are published on this site.
                                    </p>
                                    <p></p>
                                    <h3>Contact Us</h3>
                                    <p>
                                        If you have any questions about this Privacy Policy or the practices of our site, please contact us here:<br />
                                        Santander Bank<br />
                                        95 Amaral Street<br />
                                        East Providence, RI 02915<br />
                                        Mail code: RI 1 EPV 02 18<br />
                                        1-877-768-2265
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .component-html img {
                        max-width: 100%;
                    }
                </style>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-pzyf");
                        var configuration = {
                            bottomSpacing: "3",
                            additionalCssClass: "body-container",
                        };
                    })();
                </script>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section class="bg-" style="">
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-0-vous">
                    <div>
                        <div class="py-3"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-vous");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-3",
                        };
                    })();
                </script>
            </div>
        </div>
    </div>
</section>




{% include "core/footer.html" %}
