{% include "core/header.html" %}
{% load static %}
<main class="grid O-SMARTSPCGENGRID">
    <div class="row with-bg">
        <div class="sm-12">
            <div class="row">
                <div class="lg-9 md-10 hide-on-mobile">
                    <div class="row hide-on-mobile">
                        <nav aria-label="You are here" class="O-BRDCRUM-RW-ALL sm-12">
                            <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs-list O-SMARTSPCGEN-DEV" role="list">
                                <li class="item" role="listitem" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <div id="content_link_3" class="link-container">
                                        <a class="A-LNKC16R-RW-ALL" href="/" itemprop="item" itemtype="http://schema.org/Thing">
                                            <span itemprop="name" class="link">Home</span>&nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                        </a>
                                    </div>

                                    <meta itemprop="position" content="1" />
                                </li>


                                <li class="item" role="listitem" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <span class="A-TYP16B-RW-ALL" aria-current="page" aria-label="Credit card rewards">
                                        <span itemprop="name">Credit card rewards</span>
                                    </span>
                                    <meta itemprop="position" content="3" />
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="lg-3 md-2 sm-12"></div>
            </div>
        </div>
    </div>

    <div class="row with-bg">
        <div class="sm-12">
            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="content_main_columnControl_1">
                    <div class="cc cc-columns-66-33">
                        <div id="content_main_columnControlColumn_1" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV">
                                <div class="anchor" id="dollar-creditcardrewards-servicedetailteaser"></div>

                                <h2 class="heading A-TYP28L-RW-ALL remove-bottom-space" id="content_main_heading_1">
                                    Explore a rich range of rewards
                                </h2>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="content_main_richtext_1" class="remove-bottom-space A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-PAR16R-RW-ALL">
                                        With your HSBC credit card, you earn Points with every purchase. You can redeem your Points for gift cards, travel, cash, merchandise and more[@premelitecertainrest].&nbsp;Don't have an HSBC credit
                                        card yet?
                                        <a href="https://www.us.hsbc.com/content/dam/hsbc/us/docs/pdf/credit-card-offers/compare-hsbc-credit-cards.pdf" target="_blank" rel="noopener">Compare our credit card benefits (PDF).</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div id="content_main_columnControlColumn_2" class="cc-column"></div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="content_main_columnControl_2">
                    <div class="cc cc-columns-33-66">
                        <div id="content_main_columnControlColumn_3" class="cc-column">
                            <div class="M-IMG-RW-DEV O-SMARTSPCGEN-DEV">
                                <div id="content_main_image_1" class="smart-image">
                                    <figure class="smart-image-figure">
                                        <picture id="content_main_image_2">
                                            <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/17181-woman-looking-out-airplane-window-2000x1125.jpg/jcr:content/renditions/cq5dam.web.1680.1000.jpeg" media="(min-width: 960px)" />
                                            <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/17181-woman-looking-out-airplane-window-2000x1125.jpg/jcr:content/renditions/cq5dam.web.1680.1000.jpeg" media="(min-width: 480px)" />
                                            <source
                                                srcset="
                                                    https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/17181-woman-looking-out-airplane-window-2000x1125.jpg/jcr:content/renditions/cq5dam.web.1680.1000.jpeg
                                                "
                                            />

                                            <img id="content_main_image_3" class="A-IMAGE-RW-ALL smart-image-img" role="img" src="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/17181-woman-looking-out-airplane-window-2000x1125.jpg/jcr:content/renditions/cq5dam.web.1680.1000.jpeg" alt />
                                        </picture>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div id="content_main_columnControlColumn_4" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="content_main_richtext_2" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <h3 class="A-TYP22L-RW-ALL heading">Qatar Rewards for Miles 30% Avios Bonus</h3>
                                    <h3 class="A-PAR16R-RW-ALL heading">
                                        Enjoy 30% bonus Avios with Qatar Airways Privilege Club.&nbsp;Transfer Rewards Points to Avios with Qatar Airways Privilege Club between May 1 and May 31, 2025[@qatar30avios].
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="content_main_columnControl_3">
                    <div class="cc cc-columns-66-33">
                        <div id="content_main_columnControlColumn_5" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV">
                                <div class="anchor" id="choose-your-credit-card-rewards-program"></div>

                                <h2 class="heading A-TYP28L-RW-ALL remove-bottom-space" id="content_main_heading_2">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>Choose your&nbsp;credit card Rewards Program</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </h2>
                            </div>
                        </div>

                        <div id="content_main_columnControlColumn_6" class="cc-column"></div>
                    </div>
                </div>
            </div>

            <div class="O-SMARTSPCGEN-DEV">
                <div>
                    <div class="O-MASTERTILE-DEV title-hidden">
                        <div class="row">
                            <div class="container sm-12 md-6">
                                <div class="M-MASTERTILEITEM-DEV">
                                    <div id="content_main_tile_1" class="A-PNL-RW-ALL">
                                        <a href="" data-event-component="text link" data-event-name="premier rewards|component:choose card|position:1" class="A-LNKC28L-RW-ALL" target="_self">
                                            <div class="image-wrapper">
                                                <picture id="content_main_image_4">
                                                    <source
                                                        srcset="
                                                            https://www.us.hsbc.com/content/dam/hsbc/us/images/tile-16-9/14388-hsbc-premier-mastercard-left-cropped-hex-grey-1600x900.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg
                                                        "
                                                        media="(min-width: 960px)"
                                                    />
                                                    <source
                                                        srcset="
                                                            https://www.us.hsbc.com/content/dam/hsbc/us/images/tile-16-9/14388-hsbc-premier-mastercard-left-cropped-hex-grey-1600x900.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg
                                                        "
                                                        media="(min-width: 480px)"
                                                    />
                                                    <source
                                                        srcset="
                                                            https://www.us.hsbc.com/content/dam/hsbc/us/images/tile-16-9/14388-hsbc-premier-mastercard-left-cropped-hex-grey-1600x900.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg
                                                        "
                                                    />

                                                    <img
                                                        id="content_main_image_5"
                                                        class="A-IMAGE-RW-ALL"
                                                        src="https://www.us.hsbc.com/content/dam/hsbc/us/images/tile-16-9/14388-hsbc-premier-mastercard-left-cropped-hex-grey-1600x900.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg"
                                                        alt="premier credit card benefits"
                                                    />
                                                </picture>
                                            </div>
                                            <div class="heading">
                                                <h3 class="link">
                                                    Premier credit card Rewards Program
                                                </h3>
                                                &nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                            </div>
                                        </a>

                                        <div class="A-PAR16R-RW-ALL rich-text">
                                            <p>Earn Points on purchases and redeem at Amazon, receive cash back, get merchandise, gift cards, travel rewards and more.&nbsp;</p>
                                        </div>

                                        <div class="link-section"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="container sm-12 md-6">
                                <div class="M-MASTERTILEITEM-DEV">
                                    <div id="content_main_tile_2" class="A-PNL-RW-ALL">
                                        <a href="" data-event-component="text link" data-event-name="elite rewards|component:choose card|position:2|" class="A-LNKC28L-RW-ALL" target="_self">
                                            <div class="image-wrapper">
                                                <picture id="content_main_image_6">
                                                    <source
                                                        srcset="
                                                            https://www.us.hsbc.com/content/dam/hsbc/us/images/tile-16-9/14388-hsbc-elite-mastercard-left-cropped-hex-1600x900.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg
                                                        "
                                                        media="(min-width: 960px)"
                                                    />
                                                    <source
                                                        srcset="
                                                            https://www.us.hsbc.com/content/dam/hsbc/us/images/tile-16-9/14388-hsbc-elite-mastercard-left-cropped-hex-1600x900.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg
                                                        "
                                                        media="(min-width: 480px)"
                                                    />
                                                    <source
                                                        srcset="
                                                            https://www.us.hsbc.com/content/dam/hsbc/us/images/tile-16-9/14388-hsbc-elite-mastercard-left-cropped-hex-1600x900.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg
                                                        "
                                                    />

                                                    <img
                                                        id="content_main_image_7"
                                                        class="A-IMAGE-RW-ALL"
                                                        src="https://www.us.hsbc.com/content/dam/hsbc/us/images/tile-16-9/14388-hsbc-elite-mastercard-left-cropped-hex-1600x900.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg"
                                                        alt="elite credit card benefits"
                                                    />
                                                </picture>
                                            </div>
                                            <div class="heading">
                                                <h3 class="link">
                                                    Elite credit card Rewards Program
                                                </h3>
                                                &nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                            </div>
                                        </a>

                                        <div class="A-PAR16R-RW-ALL rich-text">
                                            <p>Earn Points on purchases and redeem for travel, Amazon purchases, cash back, merchandise, gift cards, and more.&nbsp;</p>
                                        </div>

                                        <div class="link-section"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="O-SMARTSPCGEN-DEV O-MASTERCARD-RW-DEV">
                <div id="content_main_masterCard_1" class="crh-master-card">
                    <div class="crh-master-card__grid crh-master-card__grid-hide-padding-bottom">
                        <div class="crh-master-card__header-container">
                            <div class="crh-master-card__header-wrapper">
                                <div id="content_main_title_1">
                                    <h2 class="crh-master-card__header A-TYPS2R-RW-DEV crh-master-card__header-container-display-hide-description text-container text">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Choose your rewards</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </h2>
                                </div>
                            </div>
                        </div>

                        <div role="list" class="crh-master-cards crh-master-cards__size-4" data-cards-size="4">
                            <div class="M-MASTERCARD crh-card crh-master-cards__card crh-master-cards__margin-4" role="listitem">
                                <div id="content_main_card_1" class="crh-parsys">
                                    <div class="image-class">
                                        <div id="content_main_image_8" class="smart-image">
                                            <figure class="smart-image-figure">
                                                <picture id="content_main_image_9">
                                                    <source
                                                        srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/toy-aeroplane.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg"
                                                        media="(min-width: 960px)"
                                                    />
                                                    <source
                                                        srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/toy-aeroplane.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg"
                                                        media="(min-width: 480px)"
                                                    />
                                                    <source
                                                        srcset="
                                                            https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/toy-aeroplane.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg
                                                        "
                                                    />

                                                    <img
                                                        id="content_main_image_10"
                                                        class="A-IMAGE-RW-ALL smart-image-img"
                                                        role="img"
                                                        src="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/toy-aeroplane.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg"
                                                        alt
                                                    />
                                                </picture>
                                            </figure>
                                        </div>
                                    </div>

                                    <div id="content_main_title_2" class="crh-master-card__header">
                                        <h3 class="crh-text A-TYPS3R-RW-DEV text-container text">
                                            Travel rewards
                                        </h3>
                                    </div>

                                    <div class="master-card__text">
                                        <div id="content_main_text_1">
                                            <div class="crh-text A-TYPS5R-RW-DEV text-container text">
                                                Use Points to book flights, hotels and car rentals or transfer to 13 Rewards for Miles travel partners.[@rewardsformiles]
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="M-MASTERCARD crh-card crh-master-cards__card crh-master-cards__margin-4" role="listitem">
                                <div id="content_main_card_2" class="crh-parsys">
                                    <div class="image-class">
                                        <div id="content_main_image_11" class="smart-image">
                                            <figure class="smart-image-figure">
                                                <picture id="content_main_image_12">
                                                    <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-wallet-smartphone.jpg/jcr:content/renditions/cq5dam.web.1680.1000.jpeg" media="(min-width: 960px)" />
                                                    <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-wallet-smartphone.jpg/jcr:content/renditions/cq5dam.web.1680.1000.jpeg" media="(min-width: 480px)" />
                                                    <source
                                                        srcset="
                                                            https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-wallet-smartphone.jpg/jcr:content/renditions/cq5dam.web.1680.1000.jpeg
                                                        "
                                                    />

                                                    <img id="content_main_image_13" class="A-IMAGE-RW-ALL smart-image-img" role="img" src="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-wallet-smartphone.jpg/jcr:content/renditions/cq5dam.web.1680.1000.jpeg" alt />
                                                </picture>
                                            </figure>
                                        </div>
                                    </div>

                                    <div id="content_main_title_3" class="crh-master-card__header">
                                        <h3 class="crh-text A-TYPS3R-RW-DEV text-container text">
                                            Amazon Shop with Points™
                                        </h3>
                                    </div>

                                    <div class="master-card__text">
                                        <div id="content_main_text_2">
                                            <div class="crh-text A-TYPS5R-RW-DEV text-container text">
                                                Link your HSBC credit card to Amazon and pay with your Points at checkout.[@amazon]
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="M-MASTERCARD crh-card crh-master-cards__card crh-master-cards__margin-4 crh-master-cards__third-card-margin" role="listitem">
                                <div id="content_main_card_3" class="crh-parsys">
                                    <div class="image-class">
                                        <div id="content_main_image_14" class="smart-image">
                                            <figure class="smart-image-figure">
                                                <picture id="content_main_image_15">
                                                    <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-piggy-bank.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg" media="(min-width: 960px)" />
                                                    <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-piggy-bank.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg" media="(min-width: 480px)" />
                                                    <source
                                                        srcset="
                                                            https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-piggy-bank.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg
                                                        "
                                                    />

                                                    <img
                                                        id="content_main_image_16"
                                                        class="A-IMAGE-RW-ALL smart-image-img"
                                                        role="img"
                                                        src="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-piggy-bank.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg"
                                                        alt
                                                    />
                                                </picture>
                                            </figure>
                                        </div>
                                    </div>

                                    <div id="content_main_title_4" class="crh-master-card__header">
                                        <h3 class="crh-text A-TYPS3R-RW-DEV text-container text">
                                            Cash back
                                        </h3>
                                    </div>

                                    <div class="master-card__text">
                                        <div id="content_main_text_3">
                                            <div class="crh-text A-TYPS5R-RW-DEV text-container text">
                                                Receive cash into your HSBC checking or savings account, or get a statement credit[@cashback]. Use points to pay your Annual Fee or purchases with Pay with Rewards®.[@pwr-prem-and-elite]
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="M-MASTERCARD crh-card crh-master-cards__card" role="listitem">
                                <div id="content_main_card_4" class="crh-parsys">
                                    <div class="image-class">
                                        <div id="content_main_image_17" class="smart-image">
                                            <figure class="smart-image-figure">
                                                <picture id="content_main_image_18">
                                                    <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-shopping-bag.jpg/jcr:content/renditions/cq5dam.web.1680.1000.jpeg" media="(min-width: 960px)" />
                                                    <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-shopping-bag.jpg/jcr:content/renditions/cq5dam.web.1680.1000.jpeg" media="(min-width: 480px)" />
                                                    <source
                                                        srcset="
                                                            https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-shopping-bag.jpg/jcr:content/renditions/cq5dam.web.1680.1000.jpeg
                                                        "
                                                    />

                                                    <img id="content_main_image_19" class="A-IMAGE-RW-ALL smart-image-img" role="img" src="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-shopping-bag.jpg/jcr:content/renditions/cq5dam.web.1680.1000.jpeg" alt />
                                                </picture>
                                            </figure>
                                        </div>
                                    </div>

                                    <div id="content_main_title_5" class="crh-master-card__header">
                                        <h3 class="crh-text A-TYPS3R-RW-DEV text-container text">
                                            Shopping
                                        </h3>
                                    </div>

                                    <div class="master-card__text">
                                        <div id="content_main_text_4">
                                            <div class="crh-text A-TYPS5R-RW-DEV text-container text">
                                                Choose merchandise[@rewarditems],&nbsp;gift and eGift cards from hundreds of favorite premium brands.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="content_main_columnControl_5">
                    <div class="cc cc-columns-66-33">
                        <div id="content_main_columnControlColumn_9" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV">
                                <div class="anchor" id="how-to-redeem-your-points-online"></div>

                                <h2 class="heading A-TYP28L-RW-ALL remove-bottom-space" id="content_main_heading_3">
                                    How to redeem your Points online
                                </h2>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="content_main_richtext_3" class="remove-bottom-space A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-PAR16R-RW-ALL">It's easy to check your balance and redeem your Points online:&nbsp;</p>
                                    <ol class="A-LSTO-RW-ALL">
                                        <li>Log on to <a href="{% url 'accounts:register' %}" target="_self">online banking</a>.</li>
                                        <li>Select your credit card from the account summary screen.</li>
                                        <li>Select 'Manage' on the right side of the screen, then select 'View and redeem rewards' and you’ll launch the HSBC Rewards Program website. Your Points balance will be displayed on the screen.</li>
                                        <li>Browse rewards by choosing a category from the menu.</li>
                                        <li>Follow the instructions provided to redeem your Points.</li>
                                    </ol>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV content-buttons">
                                <div id="content_main_buttons_2">
                                    <div class="clearfix horizontal">
                                        <a
                                            class="A-BTNP-RW-ALL"
                                            href="{% url 'accounts:register' %}"
                                            target="_self"
                                            id="content_main_button_2"
                                            data-event-component="button"
                                            data-event-name="log on and redeem|component:log on|position:1"
                                        >
                                            <span>Redeem now</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="content_main_columnControlColumn_10" class="cc-column"></div>
                    </div>
                </div>
            </div>

            <div class="O-SMARTSPCGEN-DEV O-MASTERCARD-RW-DEV">
                <div id="content_main_masterCard_2" class="crh-master-card crh-master-card__browser-wide crh-master-card__light-pearl">
                    <div class="crh-master-card__grid crh-master-card__browser-wide crh-master-card__light-pearl">
                        <div class="crh-master-card__header-container">
                            <div class="crh-master-card__header-wrapper">
                                <div id="content_main_title_6">
                                    <h2 class="crh-master-card__header A-TYPS2R-RW-DEV crh-master-card__header-container-display-hide-description text-container text">
                                        You might be interested in
                                    </h2>
                                </div>
                            </div>
                        </div>

                        <div role="list" class="crh-master-cards crh-master-cards__size-3-alternative" data-cards-size="3">
                            <div class="M-MASTERCARD crh-card crh-master-cards__card crh-master-cards__first-card" role="listitem">
                                <div id="content_main_card_5" class="crh-parsys">
                                    <div id="content_main_title_7" class="crh-master-card__header">
                                        <h3 id="content_main_link_1" class="link-container link-header">
                                            <a
                                                class="A-LNKC16R-RW-ALL A-TYPS3R-RW-DEV master-card-chevron-link-title"
                                                href="/html/creditcard"
                                                target="_self"
                                                data-event-component="text link"
                                                data-event-name="credit cards|component:lateral links|position:1"
                                            >
                                                <span class="link text">
                                                    Credit cards
                                                </span>
                                                &nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                            </a>
                                        </h3>
                                    </div>

                                    <div class="master-card__text">
                                        <div id="content_main_text_5">
                                            <div class="crh-text A-TYPS5R-RW-DEV text-container text">
                                                Enjoy a competitive range of rewards and benefits that complement your lifestyle.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="M-MASTERCARD crh-card crh-master-cards__card crh-master-cards__margin-2" role="listitem">
                                <div id="content_main_card_6" class="crh-parsys">
                                    <div id="content_main_title_8" class="crh-master-card__header">
                                        <h3 id="content_main_link_2" class="link-container link-header">
                                            <a
                                                class="A-LNKC16R-RW-ALL A-TYPS3R-RW-DEV master-card-chevron-link-title"
                                                href=""
                                                target="_self"
                                                data-event-component="text link"
                                                data-event-name="manage card|component:lateral links|position:2"
                                            >
                                                <span class="link text">
                                                    Manage your credit card
                                                </span>
                                                &nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                            </a>
                                        </h3>
                                    </div>

                                    <div class="master-card__text">
                                        <div id="content_main_text_6">
                                            <div class="crh-text A-TYPS5R-RW-DEV text-container text">
                                                Activate a card, report it lost or stolen, make a payment, view a statement, or request a credit limit increase.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="M-MASTERCARD crh-card crh-master-cards__card" role="listitem">
                                <div id="content_main_card_7" class="crh-parsys">
                                    <div id="content_main_title_9" class="crh-master-card__header">
                                        <h3 id="content_main_link_3" class="link-container link-header">
                                            <a
                                                class="A-LNKC16R-RW-ALL A-TYPS3R-RW-DEV master-card-chevron-link-title"
                                                href=""
                                                target="_self"
                                                data-event-component="text link"
                                                data-event-name="credit card benefits|component:lateral links|position:3"
                                            >
                                                <span class="link text">
                                                    Credit card benefits
                                                </span>
                                                &nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                            </a>
                                        </h3>
                                    </div>

                                    <div class="master-card__text">
                                        <div id="content_main_text_7">
                                            <div class="crh-text A-TYPS5R-RW-DEV text-container text">
                                                Already have a Premier or Elite credit card? Review the features and benefits included with your card.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row with-bg">
        <div class="sm-12">
            <div class="footnote">
                <div id="content_rel_footnote_1" class="O-SMARTSPCGEN-DEV O-FOOTNOTES-RW-DEV" data-refs-visually-hidden="Footnote link" data-footnotes-json-path="/content/hsbc/us/en_us.dpws-footnotes.json">
                    <div class="article-separator"></div>

                    <div class="row white">
                        <div class="m-xsm-12 m-mdsm-10 m-md-8">
                            <div class="footnote-title">
                                <h2 class="A-BBST28R-RW-ALL text-container text">
                                    Additional information
                                </h2>
                            </div>

                            <div class="footnote-description"></div>
                            <ol class="A-TYPS6R-RW-DEV footnotes-list without-bottom-padding"></ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="content_rel_columnControl_1">
                    <div class="cc cc-columns-66-33">
                        <div id="content_rel_columnControlColumn_1" class="cc-column">
                            <div class="O-SMARTSPCGEN-DEV O-ADVEXP-RW-RBWM row">
                                <div id="content_rel_advanced_expander_1" class="sm-12 clear-float">
                                    <div class="anchor" id="disclaimer"></div>

                                    <div class="A-LNKE-RW-ALL expander">
                                        <div class="dropdown" aria-controls="-729686080__panel0" role="button" tabindex="0">
                                            <h2 id="-729686080__tab0" class="dropdown-text expanded">Disclaimers&nbsp;</h2>
                                            <span class="chevron"></span>
                                        </div>
                                        <section id="-729686080__panel0" class="exp-content expanded" aria-hidden="false" tabindex="-1">
                                            <div class="exp-panel">
                                                <div class="cc-wrapper O-COLCTRL-RW-DEV">
                                                    <div id="content_rel_columnControl_2">
                                                        <div class="cc cc-columns-100">
                                                            <div id="content_rel_columnControlColumn_2" class="cc-column">
                                                                <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                                                    <div id="content_rel_richtext_1" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                                                        <p class="A-PAR16R-RW-ALL"></p>
                                                                        <p>
                                                                            With the HSBC Premier World Rewards Program and the HSBC Elite Rewards Program (also referred to as the “Program”) you earn points with every eligible purchase. The
                                                                            Program gives you the opportunity to use Rewards Program Points (“Points”).
                                                                        </p>
                                                                        <p>
                                                                            <strong>How Points are earned:</strong> You earn Points when you use your card to make new purchases (minus returns, credits and adjustments). Rewards Points earn
                                                                            rate applies after any introductory period. Monthly spend chart is for illustration purposes only. Your spending and Rewards Points may vary.<br />
                                                                        </p>

                                                                        <p>
                                                                            All Reward option items are subject to limited availability and to the terms, conditions and restrictions imposed by suppliers. New items may replace selections,
                                                                            and certain items may be discontinued at any time, without advance notice. When necessary, HSBC Bank USA, N.A. may substitute a Reward of equal or greater value
                                                                            without advance notice. The customer will be notified of such a change when ordering. Redemption levels, Point values and availability are subject to change without
                                                                            prior notice.
                                                                        </p>
                                                                        <p>
                                                                            You can receive Cash Back redemptions as a direct deposit or as a statement credit to your HSBC Premier World Mastercard or HSBC Elite World Elite Mastercard credit
                                                                            card. If you select Cash Back as a direct deposit, only HSBC Bank USA, N.A. consumer checking and savings accounts in your name alone or as a joint accountholder
                                                                            are eligible.
                                                                        </p>
                                                                        <p>Mastercard, Mastercard Pay with Rewards and the circles design are registered trademarks of Mastercard International Incorporated. ©2024 Mastercard</p>
                                                                        <p>HSBC Credit Cards are issued by HSBC Bank USA, N.A</p>
                                                                        <p class="A-PAR16R-RW-ALL">&nbsp;</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="content_rel_columnControlColumn_3" class="cc-column"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

   <script src="{% static 'hsbc/etc.clientlibs1/dpws/clientlibs-public/clientlib-all.min.c0dcaa378149e069ef2eb177d519d840.js' %}"></script>
       <link rel="stylesheet" href="{% static 'hsbc/etc.clientlibs1/dpws/clientlibs-public/clientlib-conthub.min.407e8b03f072827daab813f2654e51d7.css' %}" type="text/css">

{% include "core/footer.html" %}
