{% include "core/header.html" %}
{% load static %}

<main>
    <div class="with-bg">
        <div class="grid O-SMARTSPCGENGRID O-NEWSPCGENGRID">
            <div class="row with-bg">
                <div class="m-xsm-12">
                    <div class="grid O-SMARTSPCGEN-DEV O-NEWSPCGEN-DEV">
                        <div class="row O-PAGETITLE-RW-ALL">
                            <div class="page-title m-xsm-12">
                                <div class="row">
                                    <h1 class="A-TYPS1L-RW-DEV m-xsm-12 m-mdsm-10 m-md-8">Savings</h1>
                                    <div class="with-bg"></div>

                                    <p class="A-TYPS4L-RW-DEV m-xsm-12 m-mdsm-10 m-md-8">Learn about our savings accounts and apply for an account online.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="with-bg-slate">
        <div class="grid O-ARTHUBNGRID-DEV O-NEWSPCGEN-DEV O-NEWSPCGENGRID parsys-introduction">
            <div class="row">
                <div class="m-xsm-12">
                    <div class="M-CNT-ART-DEV">
                        <div id="chp_introduction_container_1" class="container-layout__100">
                            <div class="container-content">
                                <div class="M-HERO-ART-DEV">
                                    <div id="chp_introduction_container_2" class="hero-theme-white hero-layout-img-right clearfix">
                                        <div id="chp_introduction_container_img_1" class="hero-image">
                                            <div class="img-container">
                                                <div class="M-IMG-RW-DEV">
                                                    <div id="chp_introduction_image_1" class="smart-image">
                                                        <figure class="smart-image-figure">
                                                            <picture id="chp_introduction_image_2">
                                                                <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/inside-air-balloon.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg" media="(min-width: 960px)" />
                                                                <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/inside-air-balloon.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg" media="(min-width: 480px)" />
                                                                <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/inside-air-balloon.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg" />

                                                                <img
                                                                    id="chp_introduction_image_3"
                                                                    class="A-IMAGE-RW-ALL smart-image-img"
                                                                    role="img"
                                                                    src="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/inside-air-balloon.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg"
                                                                    alt
                                                                />
                                                            </picture>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="chp_introduction_container_content_1" class="hero-content">
                                            <div class="hero-content-container">
                                                <div>
                                                    <h2 id="chp_introduction_link_1" class="link-container link-header">
                                                        <a class="A-LNKC16R-RW-ALL A-TYPS2L-RW-DEV" href="" data-event-component="text link" data-event-name="hsbc premier relationship savings|component:hero primary|position:1">
                                                            <span class="link text">
                                                                HSBC Premier Relationship Savings
                                                            </span>
                                                            &nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                                        </a>
                                                    </h2>
                                                </div>
                                                <div>
                                                    <div class="A-TYPS5R-RW-DEV text-container text">
                                                        Earn our best savings rate for an Introductory Period when you open a Premier Relationship Savings[@QualPremRelSavAcc] account and link it to an eligible Premier[@premiereligibility]
                                                        checking account.
                                                    </div>
                                                </div>
                                                <div class="link-wrapper"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="A-DIVHLFOO-RW-DEV"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="with-bg-slate">
        <div class="grid O-ARTHUBNGRID-DEV O-NEWSPCGEN-DEV O-NEWSPCGENGRID parsys-main">
            <div class="row with-bg">
                <div class="m-xsm-12">
                    <div class="M-CNT-ART-DEV">
                        <div id="chp_main_container_1" class="container-layout__33-33-33">
                            <div class="row container-title-wrapper">
                                <div class="title m-xsm-12 m-mdsm-10 m-md-8">
                                    <div class="title-wrapper">
                                        <div class="title-main">
                                            <div class="anchor" id="discover-our-other-saving-accounts"></div>
                                            <h2 class="A-TYPS3L-RW-DEV text-container text">
                                                Discover our other saving accounts
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="A-DIVHL-RW-ALL"></div>
                            <div class="container-content">
                                <div class="M-CNT-ITEM-ART-DEV">
                                    <div id="chp_main_container_item_1" class="item-layout__top-img">
                                        <div id="chp_main_container_item_img_1" class="item-image">
                                            <div class="img-container">
                                                <div class="M-IMG-RW-DEV">
                                                    <div id="chp_main_image_1" class="smart-image">
                                                        <figure class="smart-image-figure">
                                                            <picture id="chp_main_image_2">
                                                                <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/sweet-dispenser-coins.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg" media="(min-width: 960px)" />
                                                                <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/sweet-dispenser-coins.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg" media="(min-width: 480px)" />
                                                                <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/sweet-dispenser-coins.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg" />

                                                                <img
                                                                    id="chp_main_image_3"
                                                                    class="A-IMAGE-RW-ALL smart-image-img"
                                                                    role="img"
                                                                    src="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/sweet-dispenser-coins.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg"
                                                                    alt
                                                                />
                                                            </picture>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="chp_main_container_item_content_1" class="item-content">
                                            <div class="item-title item-content-text">
                                                <h3 id="chp_main_link_1" class="link-container link-header">
                                                    <a
                                                        class="A-LNKC16R-RW-ALL A-TYPS4L-RW-DEV"
                                                        href="{% url 'accounts:register' %}"
                                                        data-event-component="text link"
                                                        data-event-name="new money certificate of deposit (cd)|component:lateral links|position:1"
                                                    >
                                                        <span class="link text">
                                                            New Money Certificate of Deposit (CD)
                                                        </span>
                                                        &nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="item-content-text">
                                                <div class="A-TYPS5R-RW-DEV text-container text">
                                                    Earn more with our highest yield CD when you fund with New Money. Exclusively for Premier clients.
                                                </div>
                                            </div>

                                            <div class="item-content-text">
                                                <ul class="stackable-links"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="M-CNT-ITEM-ART-DEV">
                                    <div id="chp_main_container_item_2" class="item-layout__top-img">
                                        <div id="chp_main_container_item_img_2" class="item-image">
                                            <div class="img-container">
                                                <div class="M-IMG-RW-DEV">
                                                    <div id="chp_main_image_4" class="smart-image">
                                                        <figure class="smart-image-figure">
                                                            <picture id="chp_main_image_5">
                                                                <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-piggy-bank.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg" media="(min-width: 960px)" />
                                                                <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-piggy-bank.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg" media="(min-width: 480px)" />
                                                                <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-piggy-bank.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg" />

                                                                <img
                                                                    id="chp_main_image_6"
                                                                    class="A-IMAGE-RW-ALL smart-image-img"
                                                                    role="img"
                                                                    src="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/red-piggy-bank.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg"
                                                                    alt
                                                                />
                                                            </picture>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="chp_main_container_item_content_2" class="item-content">
                                            <div class="item-title item-content-text">
                                                <h3 id="chp_main_link_2" class="link-container link-header">
                                                    <a class="A-LNKC16R-RW-ALL A-TYPS4L-RW-DEV" href="" data-event-component="text link" data-event-name="hsbc premier savings|component:lateral links|position:3">
                                                        <span class="link text">
                                                            Online Certificate of Deposit (CD)
                                                        </span>
                                                        &nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="item-content-text">
                                                <div class="A-TYPS5R-RW-DEV text-container text">
                                                    Make your Premier[@premiereligibility] relationship work harder for you with an Online CD that locks in an APY to give you steady earnings.
                                                </div>
                                            </div>

                                            <div class="item-content-text">
                                                <ul class="stackable-links"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="M-CNT-ITEM-ART-DEV">
                                    <div id="chp_main_container_item_3" class="item-layout__top-img">
                                        <div id="chp_main_container_item_img_3" class="item-image">
                                            <div class="img-container">
                                                <div class="M-IMG-RW-DEV">
                                                    <div id="chp_main_image_7" class="smart-image">
                                                        <figure class="smart-image-figure">
                                                            <picture id="chp_main_image_8">
                                                                <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/woman-striding-jacket.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg" media="(min-width: 960px)" />
                                                                <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/woman-striding-jacket.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg" media="(min-width: 480px)" />
                                                                <source srcset="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/woman-striding-jacket.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg" />

                                                                <img
                                                                    id="chp_main_image_9"
                                                                    class="A-IMAGE-RW-ALL smart-image-img"
                                                                    role="img"
                                                                    src="https://www.us.hsbc.com/content/dam/hsbc/en/images/16-9/woman-striding-jacket.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg"
                                                                    alt
                                                                />
                                                            </picture>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="chp_main_container_item_content_3" class="item-content">
                                            <div class="item-title item-content-text">
                                                <h3 id="chp_main_link_3" class="link-container link-header">
                                                    <a
                                                        class="A-LNKC16R-RW-ALL A-TYPS4L-RW-DEV"
                                                        href="/savings-accounts/products/premier/"
                                                        data-event-component="text link"
                                                        data-event-name="online certificate of deposit (cd)|component:lateral links|position:2"
                                                    >
                                                        <span class="link text">
                                                            HSBC Premier Savings[@QualPremSavAcc]
                                                        </span>
                                                        &nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="item-content-text">
                                                <div class="A-TYPS5R-RW-DEV text-container text">
                                                    Benefit from tiered interest that offers higher rates on higher balances.
                                                </div>
                                            </div>

                                            <div class="item-content-text">
                                                <ul class="stackable-links"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="A-DIVHLFOO-RW-DEV"></div>
                        </div>
                    </div>
                    <div class="M-CNT-ART-DEV">
                        <div id="chp_main_container_2" class="container-layout__100">
                            <div class="row container-title-wrapper">
                                <div class="title m-xsm-12 m-mdsm-10 m-md-8">
                                    <div class="title-wrapper">
                                        <div class="title-main">
                                            <h2 class="A-TYPS3L-RW-DEV text-container text">
                                                Making the most of your savings[@modulediscl]
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="A-DIVHL-RW-ALL"></div>
                            <div class="container-content">
                                <div class="M-CNT-ITEM-ART-DEV">
                                    <div id="chp_main_container_item_4" class="item-layout__oposite-img-large">
                                        <div id="chp_main_container_item_img_4" class="item-image">
                                            <div class="img-container">
                                                <div class="M-IMG-RW-DEV">
                                                    <div id="chp_main_image_10" class="smart-image">
                                                        <figure class="smart-image-figure">
                                                            <picture id="chp_main_image_11">
                                                                <source
                                                                    srcset="
                                                                        https://www.us.hsbc.com/content/dam/hsbc/us/en_us/financial-wellness/hsbc-financial-wellness-understanding-interest.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg
                                                                    "
                                                                    media="(min-width: 960px)"
                                                                />
                                                                <source
                                                                    srcset="
                                                                        https://www.us.hsbc.com/content/dam/hsbc/us/en_us/financial-wellness/hsbc-financial-wellness-understanding-interest.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg
                                                                    "
                                                                    media="(min-width: 480px)"
                                                                />
                                                                <source
                                                                    srcset="
                                                                        https://www.us.hsbc.com/content/dam/hsbc/us/en_us/financial-wellness/hsbc-financial-wellness-understanding-interest.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg
                                                                    "
                                                                />

                                                                <img
                                                                    id="chp_main_image_12"
                                                                    class="A-IMAGE-RW-ALL smart-image-img"
                                                                    role="img"
                                                                    src="https://www.us.hsbc.com/content/dam/hsbc/us/en_us/financial-wellness/hsbc-financial-wellness-understanding-interest.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg"
                                                                    alt
                                                                />
                                                            </picture>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="chp_main_container_item_content_4" class="item-content">
                                            <div class="item-title item-content-text">
                                                <h3 id="chp_main_link_4" class="link-container link-header">
                                                    <a class="A-LNKC16R-RW-ALL A-TYPS4L-RW-DEV" href="" data-event-component="text link" data-event-name="understanding interest|component:articles|position:1">
                                                        <span class="link text">
                                                            Understanding interest
                                                        </span>
                                                        &nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="item-content-text">
                                                <div class="A-TYPS5R-RW-DEV text-container text">
                                                    Find out more about how interest works, and how it can help your money work harder for you.
                                                </div>
                                            </div>

                                            <div class="item-content-text">
                                                <ul class="stackable-links"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="M-CNT-ART-DEV">
                        <div id="chp_main_container_7" class="container-layout__100">
                            <div class="row container-title-wrapper">
                                <div class="title m-xsm-12 m-mdsm-10 m-md-8">
                                    <div class="title-wrapper">
                                        <div class="title-main">
                                            <div class="anchor" id="disclaimers"></div>

                                            <h2 class="A-TYPS3L-RW-DEV text-container text">
                                                Disclaimers
                                            </h2>
                                        </div>

                                        <div class="A-TYPS5R-RW-DEV description text-container text">
                                            <p>
                                                United States persons are subject to U.S. taxation on their worldwide income and may be subject to tax and other filing obligations with respect to their U.S. and non-U.S. accounts. U.S.
                                                persons should consult a tax adviser for more information.
                                            </p>
                                            <p>
                                                Mortgage and home equity products are offered in the U.S. by HSBC Bank USA, N.A. and are only available for properties located in the U.S. Subject to credit approval. Borrowers must meet
                                                program qualifications. Programs are subject to change. Geographic and other restrictions may apply. Discounts can be cancelled or are subject to change at any time and cannot be combined with
                                                any other offer or discount.<br />
                                            </p>
                                            <p>Deposit products are offered in the U.S. by HSBC Bank USA, N.A. Member FDIC.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="A-DIVHL-RW-ALL remove-line"></div>
                            <div class="container-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="{% static 'hsbc/etc.clientlibs1/dpws/clientlibs-public/clientlib-all.min.c0dcaa378149e069ef2eb177d519d840.js' %}"></script>
<link rel="stylesheet" href="{% static 'hsbc/etc.clientlibs1/dpws/clientlibs-public/clientlib-conthub.min.407e8b03f072827daab813f2654e51d7.css' %}" type="text/css" />


{% include "core/footer.html" %}
