{% include "core/header.html" %}
{% load static %}
<div id="fragment-9476818-cyne">
    <div class="fragment_9450887" style="flex-direction: row;">
        <div class="heroTxt btn-trk">
            <div class="col2frag">
                <div class="col2frag-txt" style="width: 50%; align-items: flex-start; order: 1;">
                    <h1>
                        <div>Small Business Banking</div>
                    </h1>
                    <div class="sub">
                        <div>Building a business is equal parts hard work and smart decisions. We’re experts in both and we’re here to help you with the next steps in your business.</div>
                    </div>
                    <div class="col2-btn gate-trk btn-cta">
                        <div><a href="{% url 'accounts:login' %}">Connect with a banker</a></div>
                    </div>
                </div>
                <div class="col2frag-img" style="width: 50%; order: 2;">
                    <div>
                        <img
                            src="https://www.santanderbank.com/documents/330001/9597249/SAN_SBB-homepage_hero_desktop.jpg/4deb2b6f-7262-2b40-79aa-43027e0a0c68?t=1661288660272&download=true"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .fragment_9450887 {
        font-family: "SantanderHeadlineW05-Light";
    }

    .fragment_9450887 .col2frag {
        display: flex;
    }

    .fragment_9450887 .col2frag .col2frag-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em 10em;
    }

    .fragment_9450887 h1 {
        font-size: 54px !important;
        line-height: 58px !important;
    }

    .fragment_9450887 .sub {
        font-size: 20px !important;
        line-height: 28px !important;
    }

    .fragment_9450887 .col2-btn {
        background-color: #ec0000;
        border: none;
        padding: 8px 25px;
        text-decoration: none;
        margin: 1em 0;
        cursor: pointer;
        text-align: center;
        color: #fff;
        box-shadow: 0px 3px 8px #b0b0b0;
        border-radius: 2em;
        display: inline-flex;
        font-family: "SantanderTextW05-Regular" !important;
        font-size: 16px !important;
        line-height: 24px !important;
    }

    .fragment_9450887 .col2-btn a {
        color: #fff !important;
        text-decoration: none;
    }

    .fragment_9450887 .col2frag-img img {
        width: 100%;
    }

    @media only screen and (max-width: 830px) {
        .fragment_9450887 .col2frag {
            flex-direction: column;
        }
        .fragment_9450887 .col2frag .col2frag-txt {
            padding: 1em;
        }
        .fragment_9450887 .col2frag-txt {
            width: 100% !important;
            order: 1 !important;
        }
        .fragment_9450887 .col2frag-img {
            width: 100% !important;
            order: 2 !important;
        }
    }
</style>
<section class="bg-" style="">
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-0-aywm">
                    <div>
                        <div class="component-html pb-3">
                            <div>
                                <script src="https://cdn.optimizely.com/js/21379141030.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .component-html img {
                        max-width: 100%;
                    }
                </style>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-aywm");
                        var configuration = {
                            bottomSpacing: "3",
                            additionalCssClass: "",
                        };
                    })();
                </script>
            </div>
        </div>
    </div>
</section>
<section class="bg-santander-section-gray" style="">
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-0-ccrv">
                    <div class="mt-5 h2s">
                        <h2 class="component-heading mb-0 pb-3 text-center text-break">
                            <div>Solutions for every stage of your business</div>
                        </h2>
                    </div>
                </div>
                <style>
                    .fragment-heading-text-colored a {
                        color: inherit;
                    }
                </style>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-ccrv");
                        var configuration = {
                            textAlign: "center",
                            bottomSpacing: "3",
                            headingLevel: "h2",
                            textColor: {
                                cssClass: "",
                                rgbValue: "",
                            },
                            additionalCssClass: "mt-5 h2s",
                        };
                    })();
                </script>
                <div id="fragment-0-hgfg">
                    <div>
                        <div class="component-html pb-3">
                            <div>
                                <div class="solutionTiles">
                                    <a class="solBox trk-btn gate-trk" id="btn_checkAndSaving" href="" alt="SBA checking and savings">
                                        <div>
                                            <div><img alt="debit card icon" src="https://www.santanderbank.com/documents/330001/14328347/CreditCard+%281%29.svg/cd39b4cc-9fdd-5b86-e410-067d7d4585a6" /></div>
                                            <div class="solTitle">Checking and Savings</div>
                                            <div class="solSub">Manage your day-to-day business needs</div>
                                        </div>
                                    </a>
                                    <a class="solBox trk-btn gate-trk" id="btn_lending" href=" " alt="SBA lending">
                                        <div>
                                            <div><img alt="hand with money icon" src="https://www.santanderbank.com/documents/330001/14328491/Lending+%283%29.svg/870c5437-a5ac-3412-55c2-e1d42bb0b447" /></div>
                                            <div class="solTitle">Lending</div>
                                            <div class="solSub">Financing options to grow your business.</div>
                                        </div>
                                    </a>
                                    <a class="solBox trk-btn gate-trk" id="btn_bizAndMobileBanking" href="" alt="SBA online and mobile banking">
                                        <div>
                                            <div><img alt="monitor icon" src="https://www.santanderbank.com/documents/330001/14328239/DesktopComputerAccount.svg/f2a13c34-bc5c-bde8-d7ac-3ba27e783f90" /></div>
                                            <div class="solTitle">Business Online and Mobile Banking</div>
                                            <div class="solSub">Secure banking when you're on-the-go.</div>
                                        </div>
                                    </a>
                                    <a class="solBox trk-btn gate-trk" id="btn_cashMng" href="" alt="SBA cash managment">
                                        <div>
                                            <div><img alt="money icon" src="https://www.santanderbank.com/documents/330001/14328411/DirectDeposit+%281%29.svg/5b2f8022-3d34-13ef-28c4-6471d5c1fb85" /></div>
                                            <div class="solTitle">Cash Management</div>
                                            <div class="solSub">Optimize your cash flow.</div>
                                        </div>
                                    </a>
                                    <a class="solBox trk-btn gate-trk" id="btn_merchServ" href="" alt="SBA merchant services">
                                        <div>
                                            <div><img alt="services icon" src="https://www.santanderbank.com/documents/330001/14328559/moneysolutions.svg/19005900-c166-e463-d803-f98caea5ad23" /></div>
                                            <div class="solTitle">Merchant Services</div>
                                            <div class="solSub">
                                                Get paid. Accept payments.<br />
                                                Run your business better.
                                            </div>
                                        </div>
                                    </a>
                                    <a class="solBox trk-btn gate-trk" id="btn_mastercard" href="/get-started/business/debit-card" alt="Mastercard Easy Savings">
                                        <div>
                                            <div><img alt="piggy bank icon" src="https://www.santanderbank.com/documents/330001/14328182/AC370-savings.svg/49c3f758-5170-220a-8daf-a777939c3afb" /></div>
                                            <div class="solTitle">Mastercard<sup>®</sup> Easy Savingss</div>
                                            <div class="solSub">Earn rebates automatically with your Santander Business Debit Mastercard<sup>®</sup>.</div>
                                        </div>
                                    </a>
                                </div>
                                <style>
                                    .solutionTiles {
                                        display: flex;
                                        flex-direction: row;
                                        flex-wrap: wrap;
                                        justify-content: center;
                                        align-items: top;
                                        padding: 20px 30px 50px;
                                    }

                                    .solBox {
                                        padding: 30px 32px;
                                        border: solid 0.5px #9ea1a3;
                                        width: 30%;
                                        background: white;
                                        text-align: center;
                                        margin: 17px;
                                    }

                                    a.solBox {
                                        text-decoration: none !important;
                                    }

                                    .solBox .solTitle {
                                        font-family: "SantanderHeadlineW05-Light" !important;
                                        font-weight: 300;
                                        font-size: 20px;
                                        line-height: 28px;
                                        color: #474747;
                                    }

                                    .solBox .solSub {
                                        font-family: "SantanderTextW05-Regular" !important;
                                        font-size: 16px;
                                        line-height: 20px;
                                        color: #fff;
                                    }

                                    .solBox:hover {
                                        border: solid 0.5px #ec0000;
                                    }

                                    .solBox:hover .solTitle {
                                        font-family: "SantanderHeadlineW05-Light" !important;
                                        font-weight: 400;
                                        color: #ec0000;
                                    }

                                    .solBox:hover .solSub {
                                        color: #474747;
                                    }

                                    a#btn_checkAndSaving {
                                        text-decoration: none !important;
                                    }

                                    @media only screen and (max-width: 475px) {
                                        .solutionTiles {
                                            display: flex;
                                            flex-direction: column;
                                            flex-wrap: wrap;
                                            justify-content: center;
                                            align-items: top;
                                            padding: 20px 0px 50px;
                                        }
                                        .solBox {
                                            width: 94%;
                                            margin: 17px 12px;
                                        }
                                        .solBox .solSub {
                                            color: #474747;
                                        }
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .component-html img {
                        max-width: 100%;
                    }
                </style>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-hgfg");
                        var configuration = {
                            bottomSpacing: "3",
                            additionalCssClass: "",
                        };
                    })();
                </script>
            </div>
        </div>
    </div>
</section>
<section class="bg-" style="">
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-0-npxg">
                    <div class="apptspacer">
                        <div class="py-3"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-npxg");
                        var configuration = {
                            additionalCssClass: "apptspacer",
                            height: "py-3",
                        };
                    })();
                </script>
            </div>
        </div>
    </div>
</section>
<section class="bg-" style="">
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="fragment-0-vwue">
                    <div>
                        <div class="component-html pb-3">
                            <div>
                                <style>
                                    #yield-container {
                                        height: 25%;
                                        width: 100%;
                                        display: flex;
                                        border-top: 5px solid #ffffff;
                                        background: #ffffff;
                                        padding: 20px;
                                    }

                                    #main-content section .container h3 {
                                        font-size: 90px !important;
                                        font-family: "SantanderTextW05-Regular";
                                        font-weight: 400 !important;
                                        line-height: 73px !important;
                                        color: #474747;
                                    }

                                    #midbox {
                                        width: 65%;
                                        height: auto;
                                        display: flex;
                                        flex-direction: column;
                                        font-family: "SantanderHeadlineW05-Light";
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 50px;
                                        line-height: 26px;
                                        color: #ec0000;
                                        margin-top: 10px;
                                        padding-left: 60px;
                                    }

                                    #rightbox {
                                        width: 30%;
                                        height: auto;
                                        display: flex;
                                        flex-direction: column;
                                        margin-top: 30px;
                                        padding-left: 20px;
                                        padding-right: 20px;
                                    }

                                    @media only screen and (max-width: 830px) {
                                        #yield-container {
                                            height: 60%;
                                            background: #ffffff;
                                            width: 88%;
                                            flex-direction: column;
                                            text-align: center;
                                            margin-left: 30px;
                                        }
                                        #main-content section .container h3 {
                                            font-size: 65px !important;
                                            font-family: "SantanderTextW05-Regular";
                                            font-weight: 700 !important;
                                            line-height: 47px !important;
                                            color: #474747;
                                        }
                                        #midbox {
                                            flex-direction: column;
                                            order: 2;
                                            width: 100%;
                                            padding-left: 5px;
                                            font-family: "SantanderHeadlineW05-Light";
                                            font-size: 24px;
                                            line-height: 32px;
                                            text-align: center;
                                            font-weight: 700;
                                        }
                                        #rightbox {
                                            flex-direction: column;
                                            order: 4;
                                            width: 100%;
                                            padding: 15px;
                                        }
                                    }
                                </style>
                                <div id="yield-container">
                                    <div id="midbox">
                                        <p>Let's meet <strong>in person</strong></p>
                                        <div id="midText2">
                                            <span style="font-family: 'SantanderHeadlineW05-Light'; font-style: normal; font-weight: 300; font-size: 24px; line-height: 24px; color: #474747;">
                                                <img alt="calendar icon" src="https://www.santanderbank.com/documents/330001/14328250/Calendar-gray.png/06466314-605b-2179-ede0-33c338f075b2?t=1715705491427" /> Schedule one-on-one time with a banker.
                                            </span>
                                        </div>
                                    </div>
                                    <div id="rightbox"><a id="btn-viewAll" style="line-height: 1em;" class="btn btn-primary btn-round trk-btn" href="{% url 'accounts:login' %}"> Book now </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-vwue");
                        var configuration = {
                            bottomSpacing: "3",
                            additionalCssClass: "",
                        };
                    })();
                </script>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
<section>
    <div id="fragment-0-zhva">
        <div class="desktopImg">
            <div class="py-3"></div>
        </div>
    </div>
    <script>
        (function () {
            var fragmentElement = document.querySelector("#fragment-0-zhva");
            var configuration = {
                additionalCssClass: "desktopImg",
                height: "py-3",
            };
        })();
    </script>
</section>
<section>
    <div id="fragment-0-devq">
        <div class="desktopImg">
            <div class="py-3"></div>
        </div>
    </div>
    <script>
        (function () {
            var fragmentElement = document.querySelector("#fragment-0-devq");
            var configuration = {
                additionalCssClass: "desktopImg",
                height: "py-3",
            };
        })();
    </script>
</section>
<section class="bg-santander-section-gray" style="">
    <div class="container px-0 py-0">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-0-zboc">
                    <div>
                        <div class="py-3"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-zboc");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-3",
                        };
                    })();
                </script>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="fragment-9434107-nzhb">
        <div>
            <div class="fragment_8981371">
                <div class="dimg">
                    <div>
                        <img
                            src="https://www.santanderbank.com/documents/330001/9597249/SAN_SBB-homepage_solutions_desktop.jpg/4e51cea4-28be-7171-903c-492e5182f0cc?t=1661353140780&download=true"
                            alt="A male and female coworker review a tablet in front of a robotics lab."
                        />
                    </div>
                </div>
                <div class="mimg">
                    <div><img src="/documents/330001/9597249/SAN_SBB-homepage_help_mobile.jpg/1168ad77-8e7c-3d87-0cc2-1c7e1dd70998?t=1661353412875&amp;download=true" /></div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .fragment_8981371 {
        }

        .fragment_8981371 img {
            width: 100%;
        }

        .dimg {
            display: block;
        }

        .mimg {
            display: none;
        }

        @media only screen and (max-width: 750px) {
            .dimg {
                display: none;
            }
            .mimg {
                display: block;
            }
        }
    </style>
</section>
<section>
    <div id="fragment-8807165-ftlr">
        <div>
            <style>
                .hshift {
                    margin-top: 0;
                }
            </style>
            <div class="fragment_8665491">
                <div class="highlightbox hshift">
                </div>
            </div>
        </div>
    </div>
    <style>
        .fragment_8665491 {
        }

        .highlightbox {
            width: 100%;
            font-family: "SantanderTextW05-Regular";
            font-size: 30px;
            line-height: 36px;
            text-align: center;
            color: #ec0000;
            padding: 59px 30px;
            border-top: solid red 5px;
            background-color: #fff;
            position: relative;
        }
    </style>
</section>
<section class="bg-" style="">
    <div class="container px-0 py-0">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div id="fragment-8807165-odfh">
                    <div class="mt-n5 px-4 px-md-0">
                        <style>
                            .hshift {
                                margin-top: 0;
                            }
                        </style>
                        <div class="fragment_8665491">
                            <div class="highlightbox hshift">
                                <div>
                                    <h2 class="h2s">Experienced in helping businesses like yours</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="fragment-0-wlrz">
                    <div class="px-3 px-md-0">
                        <div class="component-html pb-3">
                            <div>
                                <div class="flex-container2">
                                    <div class="flex-item2">
                                        <h2>Straightforward products</h2>
                                        <hr />
                                        Keep the focus on your business with simple accounts for any business size and needs.
                                    </div>
                                    <div class="flex-item2">
                                        <h2>Efficient cash flow solutions</h2>
                                        <hr />
                                        Get faster access to credit, so you can more efficiently manage your growing business
                                    </div>
                                    <div class="flex-item2">
                                        <h2>Flexible lending options</h2>
                                        <hr />
                                        Quickly find and secure the right loan for your business with our simplified application process.
                                    </div>
                                    <div class="flex-item2">
                                        <h2>Tailored guidance</h2>
                                        <hr />
                                        Make smarter business decisions with help from a team of qualified small business banking experts.
                                    </div>
                                </div>
                                <style>
                                    .flex-container2 {
                                        display: flex;
                                        flex-direction: row;
                                        gap: 40px;
                                        justify-content: center !important;
                                    }

                                    .flex-item2 {
                                        background: white;
                                        padding: 0px;
                                        width: 22%;
                                        margin-top: 0;
                                        color: #474747;
                                        text-align: center;
                                        font-family: "SantanderTextW05-Regular";
                                        font-size: 0.9em;
                                    }

                                    .flex-item2 h2 {
                                        font-size: 1.35em !important;
                                        text-align: center;
                                        font-family: "SantanderTextW05-Regular";
                                        color: #474747 !important;
                                    }

                                    .flex-item2 hr {
                                        border: none;
                                        width: 25%;
                                        height: 2px;
                                        text-align: center;
                                        background-color: #ec0000;
                                    }

                                    @media only screen and (max-width: 475px) {
                                        .flex-container2 {
                                            display: flex;
                                            flex-direction: column !important;
                                            justify-content: space-around;
                                        }
                                        .flex-item2 {
                                            width: 95%;
                                        }
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-wlrz");
                        var configuration = {
                            bottomSpacing: "3",
                            additionalCssClass: "px-3 px-md-0",
                        };
                    })();
                </script>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section>
    <div id="fragment-0-whxk">
        <div>
            <div class="py-3"></div>
        </div>
    </div>
    <script>
        (function () {
            var fragmentElement = document.querySelector("#fragment-0-whxk");
            var configuration = {
                additionalCssClass: "",
                height: "py-3",
            };
        })();
    </script>
</section>
<section class="bg-" style="">
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-0-nguy">
                    <div>
                        <div class="py-4"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-nguy");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-4",
                        };
                    })();
                </script>
            </div>
        </div>
    </div>
</section>
<section
    class="bg-"
    style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrIPzXE8QacOBFxqSRiv0NOXdnrJKlyPPr2w&s); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;"
>
    <div class="container px-0 py-0">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div id="fragment-0-xehq">
                    <div class="desktopImg">
                        <div class="py-5"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-xehq");
                        var configuration = {
                            additionalCssClass: "desktopImg",
                            height: "py-5",
                        };
                    })();
                </script>
                <div id="fragment-0-ybcq">
                    <div class="px-4 px-md-0 redstars">
                        <div class="component-image pb-0 overflow-hidden text-left">
                            <div><img alt="Responsive Image" class="w-0" src="https://www.santanderbank.com/documents/330001/8990400/4.7stars.png/57885296-1812-cabd-1890-6d9fc2fdf849?t=1642087065931&download=true" /></div>
                        </div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-ybcq");
                        var configuration = {
                            bottomSpacing: "0",
                            imageSize: "w-0",
                            imageAlign: "left",
                            additionalCssClass: "px-4 px-md-0 redstars",
                        };
                    })();
                </script>
                <div id="fragment-8818739-yvdn">
                    <div class="fragment_8814921">
                        <div class="px-3 px-md-0">
                            <div class="mf-cols1">
                                <div>
                                    <div class="bankanywhere">
                                        <h2>Download the Santander <b>Business Banking App</b></h2>
                                        <p>Unlock on-the-go features with our highly-rated Mobile Banking App. 4.6 out of 5 Rating. Based on 13k ratings on the app store as of 3/26/2025.<sup>1</sup></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .fragment_8814921 {
                    }

                    .mf-cols1,
                    .mf-cols2 {
                        margin: 1em 0;
                    }

                    .mf-cols2 div {
                        width: 98%;
                    }

                    .mf-cols2 {
                        display: flex;
                        justify-content: space-between;
                    }

                    @media only screen and (max-width: 850px) {
                        .mf-cols2 {
                            display: block;
                        }
                        .mf-cols2 div {
                            margin: 14px 0;
                        }
                        .mf-cols1,
                        .mf-cols2 {
                            padding: 0 1em !important;
                        }
                    }
                </style>
                <div id="fragment-0-wzqz">
                    <div class="px-3 px-md-0 storebuttons">
                        <div class="component-paragraph pb-3 text-left text-break">
                            <div>
                                <div>
                                    <a href="https://apps.apple.com/us/app/santander-business-banking/id1140839247">
                                        <img src="https://www.santanderbank.com/documents/330001/14323886/app-store-btn.png/c39e9ebb-6a7e-077b-3b59-88bebf4b66e8?t=1737746070891" width="25%" alt="apple app store" />
                                    </a>
                                    <a href="https://play.google.com/store/apps/details?id=com.santander.us.sme&amp;hl=en_CA&amp;gl=US">
                                        <img src="https://www.santanderbank.com/documents/330001/14323886/google-play-btn.png/6c92c441-2d98-5773-7507-0bcba449bee8?t=1737746085860" width="25%" alt="google play store" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .component-paragraph img {
                        max-width: 100%;
                    }
                </style>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-wzqz");
                        var configuration = {
                            textAlign: "left",
                            bottomSpacing: "3",
                            textColor: {
                                cssClass: "",
                                rgbValue: "",
                            },
                            additionalCssClass: "px-3 px-md-0 storebuttons",
                        };
                    })();
                </script>
                <div id="fragment-0-lyra">
                    <div class="px-3 px-md-0 desktopImg">
                        <div class="component-html pb-3">
                            <div>
                                <style>
                                    .qrcont .qrbox {
                                        padding: 14px;
                                        border: solid 1px #ec0000;
                                        text-align: center;
                                        font-size: 24px;
                                        display: none;
                                        width: 220px !important;
                                        height: 220px !important;
                                        position: absolute;
                                        background: #fff;
                                    }

                                    .qrcode {
                                        100%
                                    }

                                    .qrpop {
                                        color: #ec0000;
                                        cursor: pointer;
                                        text-decoration: underline
                                    }
                                </style>
                                <div class="qrcont">
                                    <div>
                                        <p>
                                            <span class="qrpop">Scan QR code to open app.</span>&nbsp;&nbsp;
                                            <img alt="qr icon" width="5%" src="https://www.santanderbank.com/documents/330001/14328262/QR-Code-Icon.png/fda3a219-d71c-23ab-204e-53806d0c4c48" />
                                        </p>
                                    </div>
                                    <div class="qrbox"><img class="qrcode" src="https://www.santanderbank.com/documents/330001/14328262/QR-Code-Icon.png/fda3a219-d71c-23ab-204e-53806d0c4c48" /></div>
                                </div>
                                <script>
                                    console.log("testing the code before");
                                    $(".qrpop").mousemove(function (event) {
                                        $(".qrbox").offset({
                                            left: event.pageX - 110,
                                            top: event.pageY - 250,
                                        });
                                    });
                                    $(".qrpop").hover(function () {
                                        console.log("clicked");
                                        $(".qrbox").toggle();
                                    });
                                    console.log("testing the code after");
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .component-html img {
                        max-width: 100%;
                    }
                </style>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-lyra");
                        var configuration = {
                            bottomSpacing: "3",
                            additionalCssClass: "px-3 px-md-0 desktopImg",
                        };
                    })();
                </script>
            </div>
            <div class="col-md-5">
                <div id="fragment-0-osak">
                    <div>
                        <div class="py-4"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-osak");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-4",
                        };
                    })();
                </script>
                <div id="fragment-0-ydlq">
                    <div>
                        <div class="component-image pb-3 overflow-hidden text-left">
                            <div>
                                <img
                                    alt="A rendering of a smartphone using the Santander mobile app."
                                    class="w-100"
                                    src="https://www.santanderbank.com/documents/330001/8990403/SAN_mobile-online-banking_desktop.png/4831f0da-bc54-de89-db66-472893c3f8ee?t=1655469725025&download=true"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-ydlq");
                        var configuration = {
                            bottomSpacing: "3",
                            imageSize: "w-100",
                            imageAlign: "left",
                            additionalCssClass: "",
                        };
                    })();
                </script>
                <div id="fragment-0-fpmy">
                    <div>
                        <div class="py-4"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-fpmy");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-4",
                        };
                    })();
                </script>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section class="bg-" style="">
    <div class="container px-0 py-0">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-13300783-lnzf">
                    <div>
                        <style>
                            div#findus-d-frag\ finduscont {
                                margin-top: 2em;
                                margin-bottom: 2em;
                                margin-left: 10em;
                                margin-right: 10em;
                            }

                            @media only screen and (max-width: 830px) {
                                div#findus-d-frag\ finduscont {
                                    margin: 0 !important;
                                }
                            }
                        </style>
                        <div class="fragment_13296342">
                            <div id="findus-d-frag finduscont">
                                <div class="findus-c" style="flex-direction: row;">
                                    <div class="findUs mx-2 mx-md-0">
                                        <div class="col2frag">
                                            <div class="col2frag-txt" style="width: 50%; order: 1;">
                                                <div class="headtxt">
                                                    <div><img alt="" src="https://www.santanderbank.com/documents/330001/8990400/branch+location.png/bd9cbe6b-0568-09f1-1280-eeb7e47cad6b?t=1635193940441&amp;download=true" />Find Us</div>
                                                </div>
                                                <div class="sub">
                                                    <div>Branches across the Northeast and in Miami, Florida, plus <span class="text-santander-red">2,000+ ATMs</span>.</div>
                                                </div>
                                                <div class="btns">
                                                    <div class="col2-btn trk-btn gate-trk" id="find01"><a href="https://locations.santanderbank.com/search.html">Find a branch</a></div>
                                                    <div class="col2-btn trk-btn gate-trk" id="find02"><a href="https://booking.santanderbank.com/branch">Book an appointment</a></div>
                                                </div>
                                            </div>
                                            <div class="col2frag-img" style="width: 50%; order: 2;">
                                                <div><img alt="map of locations" src="https://www.santanderbank.com/documents/330001/8990400/SAN_map_desktop+%281%29.svg.jpg/a383ba71-d53c-04bd-addf-e233278a2664" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .fragment_13296342 {
                        .findUs .sub {
                            width: 75% !important;
                        }
                        .findus-c .col2frag .col2frag-txt img {
                            margin-left: -1.65em;
                        }
                        .findus-c {
                            font-family: "SantanderHeadlineW05-Light";
                            padding-left: 1em;
                        }
                        .findus-c .col2frag {
                            display: inline-flex;
                        }
                        .findus-c .col2frag .col2frag-txt {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                        .findus-c .headtxt {
                            font-size: 54px !important;
                        }
                        .findUs .sub {
                            width: 65% !important;
                        }
                        .findus-c .sub {
                            font-size: 20px !important;
                            line-height: 28px !important;
                        }
                        .findus-c .col2-btn {
                            background-color: #ec0000;
                            border: none;
                            padding: 8px 25px;
                            text-decoration: none;
                            margin: 1em 0.5em;
                            cursor: pointer;
                            text-align: center;
                            color: #fff;
                            box-shadow: 0px 3px 8px #b0b0b0;
                            border-radius: 2em;
                            display: inline-block;
                            font-family: "SantanderTextW05-Regular" !important;
                            font-size: 16px !important;
                            line-height: 24px !important;
                            width: auto;
                            /*adjust here for button width*/
                        }
                        .findus-c .col2-btn a {
                            color: #fff !important;
                            text-decoration: none;
                        }
                        .findus-c .col2frag-img img {
                            width: 100%;
                        }
                        .btns {
                            display: flex;
                            flex-direction: row;
                            margin-left: -0.65em;
                        }
                        @media only screen and (max-width: 830px) {
                            .findus-c .headtxt div {
                                font-size: 40px !important;
                                line-height: 44px !important;
                            }
                            .findus-c .col2frag {
                                flex-direction: column;
                            }
                            .findus-c .col2frag .col2frag-txt {
                                padding: 40px !important;
                            }
                            .findus-c .col2frag-txt {
                                width: 100% !important;
                                order: 1 !important;
                            }
                            .findus-c .col2frag-img {
                                width: 100% !important;
                                order: 2 !important;
                            }
                            .btns {
                                display: flex;
                                flex-direction: column;
                                margin-left: -0.65em;
                            }
                            .findUs .sub {
                                width: 90% !important;
                                margin: auto;
                            }
                            .findus-c .headtxt {
                                font-size: 100px !important;
                            }
                            .findus-c .col2frag-img img {
                                width: 100%;
                                margin: 0 !important;
                            }
                        }
                    }
                </style>
            </div>
        </div>
    </div>
</section>
<section class="bg-" style="">
    <div class="container px-0 py-0">
        <div class="row">
            <div class="col-md-12">
                <div id="fragment-0-iofn">
                    <div>
                        <div class="py-4"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-iofn");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-4",
                        };
                    })();
                </script>
            </div>
        </div>
    </div>
</section>
<section class="bg-" style="">
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</section>
<section class="bg-" style="">
    <div class="container px-0 py-0">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div id="fragment-0-zpwf">
                    <div>
                        <div class="py-5"></div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-zpwf");
                        var configuration = {
                            additionalCssClass: "",
                            height: "py-5",
                        };
                    })();
                </script>
                <div id="fragment-0-okck">
                    <div>
                        <div class="component-html pb-3">
                            <div>
                                <p><sup>1</sup>To use the Business Banking App, you must first enroll and log in to Business Online Banking and accept the Business Online Banking Agreement. Message and data rates may apply.</p>
                                <p>
                                    Santander Bank, N.A. is a Member FDIC and a wholly owned subsidiary of Banco Santander, S.A. ©<span class="san-year"></span> Santander Bank, N.A. All rights reserved. Santander, Santander Bank and the
                                    Flame Logo are trademarks of Banco Santander, S.A. or its subsidiaries in the United States or other countries. All other trademarks are the property of their respective owners. Santander Bank is not
                                    affiliated with First Data Merchant Services, LLC or any of its affiliates.
                                </p>
                                <p>
                                    The Clover name, logo and related trademarks and service marks are owned by Clover Network, LLC. and are registered or used in the U.S. and many foreign countries. All trademarks, service marks, and trade
                                    names referenced in this material are the property of their respective owners. Santander Merchant Services is powered by First Data Merchant Services LLC, and its affiliates, including Clover Network,
                                    LLC. Merchant processing services are provided by First Data Merchant Services, LLC.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    (function () {
                        var fragmentElement = document.querySelector("#fragment-0-okck");
                        var configuration = {
                            bottomSpacing: "3",
                            additionalCssClass: "",
                        };
                    })();
                </script>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>



{% include "core/footer.html" %}
