{% include "core/header.html" %}
{% load static %}
<main class="grid O-SMARTSPCGENGRID">
    <div class="row with-bg">
        <div class="sm-12">
            <div class="row">
                <div class="lg-9 md-10 hide-on-mobile">
                    <div class="row hide-on-mobile">
                        <nav aria-label="You are here" class="O-BRDCRUM-RW-ALL sm-12">
                            <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs-list O-SMARTSPCGEN-DEV" role="list">
                                <li class="item" role="listitem" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <div id="content_link_3" class="link-container">
                                        <a class="A-LNKC16R-RW-ALL" href="/" itemprop="item" itemtype="http://schema.org/Thing">
                                            <span itemprop="name" class="link">Home</span>&nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                        </a>
                                    </div>

                                    <meta itemprop="position" content="1" />
                                </li>



                                <li class="item" role="listitem" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <span class="A-TYP16B-RW-ALL" aria-current="page" aria-label="Mortgage Calculators">
                                        <span itemprop="name">Mortgage Calculators</span>
                                    </span>
                                    <meta itemprop="position" content="3" />
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="lg-3 md-2 sm-12"></div>
            </div>
        </div>
    </div>

    <div class="row with-bg">
        <div class="sm-12">
            <div class="O-SMARTSPCGEN-DEV">
                <div>
                    <h2 class="A-BBST28R-RW-ALL">
                        Let our mortgage calculators help you take the next step.
                    </h2>
                    <div class="O-MASTERTILE-DEV">
                        <div class="row">
                            <div class="container sm-12 md-12 lg-4">
                                <div class="M-MASTERTILEITEM-DEV">
                                    <div id="content_main_tile_1" class="A-PNL-RW-ALL">
                                        <a href="" class="A-LNKC28L-RW-ALL" target="_self">
                                            <div class="heading">
                                                <h3 class="link">
                                                    How much home can you afford?
                                                </h3>
                                                &nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="container sm-12 md-6 lg-4">
                                <div class="M-MASTERTILEITEM-DEV">
                                    <div id="content_main_tile_2" class="A-PNL-RW-ALL">
                                        <a href="" data-pid="MIW0004990" class="A-LNKC28L-RW-ALL" target="_self">
                                            <div class="heading">
                                                <h3 class="link">
                                                    View mortgage rates and options built for you
                                                </h3>
                                                &nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="container sm-12 md-6 lg-4">
                                <div class="M-MASTERTILEITEM-DEV">
                                    <div id="content_main_tile_3" class="A-PNL-RW-ALL">
                                        <a href="" class="A-LNKC28L-RW-ALL" target="_self">
                                            <div class="heading">
                                                <h3 class="link">
                                                    Difference between 15 or 30 year term
                                                </h3>
                                                &nbsp;<span class="icon icon-chevron-right-small" aria-hidden="true"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="content_main_columnControl_1">
                    <div class="cc cc-columns-66-33">
                        <div id="content_main_columnControlColumn_1" class="cc-column">
                            <div class="O-TITLE-RW-DEV O-SMARTSPCGEN-DEV">
                                <div id="content_main_title_1">
                                    <div class="anchor" id="get-preapproved"></div>

                                    <h2 class="A-BBST28R-RW-ALL">
                                        Get started
                                    </h2>
                                    <div class="row">
                                        <div class="sm-12 organismsContainer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="content_main_columnControlColumn_2" class="cc-column"></div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="content_main_columnControl_2">
                    <div class="cc cc-columns-33-33-33">
                        <div id="content_main_columnControlColumn_3" class="cc-column">
                            <div class="M-IMG-RW-DEV O-SMARTSPCGEN-DEV">
                                <div id="content_main_image_1" class="smart-image">
                                    <figure class="smart-image-figure">
                                        <picture id="content_main_image_2">
                                            <source srcset="https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/rates-loans-options.jpg" media="(min-width: 960px)" />
                                            <source srcset="https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/rates-loans-options.jpg" media="(min-width: 480px)" />
                                            <source
                                                srcset="
                                                    https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/rates-loans-options.jpg
                                                "
                                            />

                                            <img id="content_main_image_3" class="A-IMAGE-RW-ALL smart-image-img" role="img" src="https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/rates-loans-options.jpg" alt="Quick and Easy" />
                                        </picture>
                                    </figure>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="content_main_richtext_1" class="remove-bottom-space A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-TYP28L-RW-ALL">Rate quote<br /></p>
                                    <p class="A-PAR16R-RW-ALL">A Mortgage Consultant will contact you with your personalized rate quote.<br /></p>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV content-buttons">
                                <div id="content_main_buttons_1">
                                    <div class="clearfix horizontal">
                                        <a class="A-BTNSO-RW-ALL" href="" target="_self" id="content_main_button_1" data-pid="MIW0003292">
                                            <span>Get rate quote</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="content_main_columnControlColumn_4" class="cc-column">
                            <div class="M-IMG-RW-DEV O-SMARTSPCGEN-DEV">
                                <div id="content_main_image_4" class="smart-image">
                                    <figure class="smart-image-figure">
                                        <picture id="content_main_image_5">
                                            <source srcset="https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/connect.jpg" media="(min-width: 960px)" />
                                            <source srcset="https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/connect.jpg" media="(min-width: 480px)" />
                                            <source
                                                srcset="
                                                    https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/connect.jpg
                                                "
                                            />

                                            <img id="content_main_image_6" class="A-IMAGE-RW-ALL smart-image-img" role="img" src="https://www.us.hsbc.com/content/dam/hsbc/us/en_us/home-loans/products/rates/connect.jpg" alt />
                                        </picture>
                                    </figure>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="content_main_richtext_2" class="remove-bottom-space A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-TYP28L-RW-ALL">Mortgage financing request</p>
                                    <p class="A-PAR16R-RW-ALL">
                                        Take the first step to get prequalified<sup><a href="#fn-1">1</a></sup> to buy or refinance your home.<br />
                                    </p>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV content-buttons">
                                <div id="content_main_buttons_2">
                                    <div class="clearfix horizontal">
                                        <a class="A-BTNP-RW-ALL" href="" target="_self" id="content_main_button_2" data-pid="MIW0003365">
                                            <span>Get started online</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="content_main_columnControlColumn_5" class="cc-column">
                            <div class="M-IMG-RW-DEV O-SMARTSPCGEN-DEV">
                                <div id="content_main_image_7" class="smart-image">
                                    <figure class="smart-image-figure">
                                        <picture id="content_main_image_8">
                                            <source srcset="/content/dam/hsbc/us/en_us/home-loans/products/rates/connect.jpg 1x" media="(min-width: 960px)" />
                                            <source srcset="/content/dam/hsbc/us/en_us/home-loans/products/rates/connect.jpg 1x" media="(min-width: 480px)" />
                                            <source
                                                srcset="
                                                    /content/dam/hsbc/us/en_us/home-loans/products/rates/connect.jpg/jcr:content/renditions/cq5dam.web.490.1000.jpeg 1x,
                                                    /content/dam/hsbc/us/en_us/home-loans/products/rates/connect.jpg                                                 2x
                                                "
                                            />

                                            <img id="content_main_image_9" class="A-IMAGE-RW-ALL smart-image-img" role="img" src="/content/dam/hsbc/us/en_us/home-loans/products/rates/connect.jpg" alt />
                                        </picture>
                                    </figure>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="content_main_richtext_3" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-TYP28L-RW-ALL">
                                        Connect with a <br />
                                        Mortgage Consultant<br />
                                    </p>
                                    <p class="A-PAR16R-RW-ALL">
                                        Call <strong><a href="tel:8444722684">844.HSBC.MTG (844.472.2684)</a></strong>&nbsp;to speak with a Mortgage Consultant to learn more.<br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cc-wrapper O-COLCTRL-RW-DEV">
                <div id="content_main_columnControl_3">
                    <div class="cc cc-columns-100">
                        <div id="content_main_columnControlColumn_6" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text">
                                <div id="content_main_richtext_4" class="A-PAR16R-RW-ALL-WRAPPER" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="America/New_York">
                                    <p class="A-PAR14R-RW-ALL">
                                        <strong><a id="fn-1"></a>1</strong>&nbsp;Final mortgage approval is subject to receipt of a satisfactory purchase contract by commitment expiration date,&nbsp;
                                        <span
                                            style="
                                                font-family: 'HSBC Univers Next Regular', Arial, 'PingFang SC', 'Microsoft YaHei', 'Lantinghei SC', 'Heiti SC', simhei, sans-serif;
                                                font-size: 0.875rem;
                                                font-style: normal;
                                                font-weight: 400;
                                                background-color: transparent;
                                            "
                                        >
                                            satisfactory appraisal and title report and completion of all conditions stated in your commitment letter.
                                        </span>
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        The Leadfusion Calculators and content are educational tools for information purposes only and are not intended to provide investment, legal, tax, or accounting advice, nor are they intended to
                                        indicate the availability or applicability of any HSBC product or service to your unique circumstances. All examples are hypothetical and for illustrative purposes only. Although we have obtained
                                        content from sources deemed to be reliable, HSBC and its affiliates are not responsible for any content provided by unaffiliated third parties. You should obtain advice from a qualified financial
                                        professional about your unique situation. The accuracy of this calculator and its applicability to your circumstances is not guaranteed. You should obtain personal advice from qualified professionals.
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        Mortgage and home equity products are offered in the U.S. by HSBC Bank USA, N.A. and are only available for properties located in the U.S. Subject to credit approval. Borrowers must meet program
                                        qualifications. Programs are subject to change. Geographic and other restrictions may apply. Discounts can be cancelled or are subject to change at any time and cannot be combined with any other offer
                                        or discount.
                                    </p>
                                    <p class="A-PAR14R-RW-ALL">
                                        If you are a service member on active duty looking to refinance your mortgage loan, please consult your legal advisor regarding whether your existing mortgage loan is eligible for benefits under the
                                        Servicemembers Civil Relief Act and how a refinance may impact those benefits.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

   <script src="{% static 'hsbc/etc.clientlibs1/dpws/clientlibs-public/clientlib-all.min.c0dcaa378149e069ef2eb177d519d840.js' %}"></script>
       <link rel="stylesheet" href="{% static 'hsbc/etc.clientlibs1/dpws/clientlibs-public/clientlib-conthub.min.407e8b03f072827daab813f2654e51d7.css' %}" type="text/css">

{% include "core/footer.html" %}
