/* 
    
@media only screen and (max-width: XxXpx) {
        when browswer is XxX or less
    }    

    font-family: 'SantanderHeadlineW05-Light';
    font-family: 'SantanderTextW05-Regular';
    font-family: 'SantanderHeadlineW05-Bold';
    
    gray background #f2f2f2

*/

/* ----------- over rides for main css -------------- */

#main-content section .container h1,
#main-content section .container h2,
#main-content section .container h3,
#main-content section .container h4 {
    padding: 0.25em !important;
}

/* ----------- over rides for main css -------------- */

#main-content section {
    padding: 0 !important;
}

h1 {
    font-weight: 300 !important;
    font-style: normal !important;
    font-family: 'SantanderHeadlineW05-Light' !important;
    font-size: 54px !important;
    line-height: 58px !important;
    color: #474747 !important;
}

.roundedBtn a {
    background-color: #ec0000 !important;
    border: none !important;
    padding: 8px 25px !important;
    text-decoration: none !important;
    margin: 1em 0 !important;
    cursor: pointer !important;
    text-align: center !important;
    color: #fff !important;
    box-shadow: 0px 3px 8px #b0b0b0 !important;
    border-radius: 2em !important;
    display: inline-flex !important;
    font-family: 'SantanderTextW05-Regular' !important;
    font-size: 16px !important;
    line-height: 24px !important;
}

.button-container .btn {
    background-color: #ec0000 !important;
    border: none !important;
    padding: 8px 25px !important;
    text-decoration: none !important;
    margin: 1em 0 !important;
    cursor: pointer !important;
    text-align: center !important;
    color: #fff !important;
    box-shadow: 0px 3px 8px #b0b0b0 !important;
    border-radius: 2em !important;
    display: inline-flex !important;
    font-family: 'SantanderTextW05-Regular' !important;
}

.button-container .btn a {
    font-size: 16px !important;
    line-height: 24px !important;
}

.btabcontent-1 h4,
.btabcontent-2 h4,
.btabcontent-3 h4,
.btabcontent-4 h4,
.btabcontent-5 h4,
.btabcontent-6 h4 {
    font-size: 18px !important;
    line-height: 24px !important;
    color: #474747 !important;
    font-family: 'SantanderHeadlineW05-Light' !important;
    font-weight: 700 !important;
}

.shiftup25 {
    margin-top: -25%;
}

.clickThru {
    pointer-events: none;
}

.highlightbox {
    width: 100%;
    font-family: 'SantanderTextW05-Regular';
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #ec0000;
    padding: 59px 30px;
    border-top: solid red 5px;
    background-color: #fff;
    position: relative;
}

.shiftup-btn {
    margin-top: -2.5em;
}